/**
 * Styles for the left hand side menu and header for the admin panels.
 *
 * Take into consideration CSS selector performance.
 *
 * @package framework
 * @subpackage admin
 */

.cms-logo-header {
	position: relative !important;
	top: auto !important;
	height: auto !important;		// Required for JLayout
	padding: 0;
	line-height: 24px;
	background-color: $color-brand-bg;
	min-height: $toolbar-total-height*2;

	span {
		color: $color-text-light;
		display: block;
		padding-left:26px;

		a {
			color: white;
			display: inline;
		}
	}
}

.cms-logo {
	border-bottom: 1px solid darken($color-brand-bg, 4%);
	overflow: hidden;
	padding: $grid-y*1.5 8px;
	position: relative;
	vertical-align: middle;
	transition: padding .2s;
	min-height: $toolbar-total-height;
	transition: padding .2s;

	.version {
		display: none;
	}

	.cms-logo__link {
		position: absolute;
		top: $grid-y;
		bottom: $grid-y;
		display: block;
		width: 24px;
		background: $application-logo-small no-repeat center center;
		text-indent: -9999em;
		padding: 0 1px;
	}

	span {
		font-weight: bold;
		line-height: 16px;
		padding: 6px 0;
		margin-left: 32px;
	}
}

.cms-login-status {
	padding: $grid-y*1.5 8px;
	line-height: 16px;
	font-size: $font-size-sm;
	transition: padding .2s;
	min-height: $toolbar-total-height;

	.logout-link {
		float: left;
		font-size: 16px;
		height: 28px;
		padding: 6px 8px 6px 5px;
		opacity: .9;
		color: #fff;

		&:hover, &:focus{
			opacity: 1;
			text-decoration: none;
		}
	}

	span {
		padding: 6px 0 6px 26px;
	}
}

.cms-menu {
	z-index: 80;
	background: $color-theme-bg;
	width: $cms-menu-width;

	.cms-menu-list {
		margin: 0;
		list-style-type: none;
		padding-left: 0;
		box-shadow: inset $color-separator -1px 0 0;
	}

	a {
		text-decoration: none;
	}

	.cms-panel-content {
		box-shadow: inset #C1C7CC -1px 0 0;
		overflow-x: hidden;
		height: calc(100% - #{$toolbar-total-height * 3}) !important; // account for logo, logout and south bar
	}

	&.collapsed {
		width: $cms-menu-width-collapsed !important; // Using important because JavaScript is overriding this value
		cursor: auto;
		z-index: 1000;

		.cms-panel-header {
			width: 30px;

			span {
				display: none;
			}
		}

		.cms-menu-list {
			overflow-x: hidden;
			overflow-y: auto;

			li {
				width: 100%;
				float: left;

				ul {
					display: none;
				}
			}
		}

		span.text {
			display: none;
		}

		.cms-login-status,
		.cms-logo {
			padding: 12px 18px 11px;

			span {
				display: none;
			}
		}

		.cms-menu-list li a {
			padding-left: 18px;
			padding-right: 18px;
		}

		.sticky-toggle {
			background-position: 12px center;
      width: 40px;
		}
	}

	.cms-panel-toggle {
		height: $toolbar-total-height;
		background-color: $color-theme-bg;
		box-shadow: inset $color-separator -1px 0 0;
		position: relative;

		a,
		a.toggle-expand {
			float: right;
			width: 50%;
			padding-top: 14px;
			padding-bottom: 14px;
		}
	}

	.sticky-toggle {
		float: left;
		width: 52px;
		height: 52px;
		margin: 0;
		padding: $grid-x;
		text-indent: -999em;
		background-color: transparent;
		background-image: url(../images/sticky-toggle-off.png);
		background-repeat: no-repeat;
		background-position: 16px center;
		border: 0;
		transition: position .2s;
    margin-top: -$spacer-xs;
    margin-left: -$grid-gutter-width-half;
    z-index: 2;

		&:hover {
			box-shadow: 0 0 0;
		}

		&.active {
			background-image: url(../images/sticky-toggle-on.png);
		}

		.ui-button-text {
			padding: 0;
		}

		// When the button is hovered, show the status indicator
		&:hover {
			+ .sticky-status-indicator {
				display: block;
			}
		}
	}

	.sticky-status-indicator {
		display: none;
		position: absolute;
		top: 3px;
		left: 10px;
		font-size: 9px;
		color: #555d60;
		text-transform: uppercase;
	}

	// Sub menu (will also be available for profile)
	.toggle-children {
		display: inline-block;
		float: right;
		width: 20px;
		height: 100%;
		cursor: pointer;
		padding-top: 17px;
	}

	.child-flyout-indicator,
	.toggle-children-icon {
		background-image: none;
		border-color: darken(#ccdce6, 25%);
		border-style: solid;
		border-width: 0 1px 1px 0;
		width: 8px;
		height: 8px;
		position: absolute;
		margin-top: 3px;
		right: 8px;
		z-index: 2;
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transform: rotate(-45deg);
		// display: none;  /* To be shown by javascript, see LeftAndMain.Panel.js */
	}

	.opened .toggle-children-icon {
		margin-top: 1px;
	}

	&.collapsed .child-flyout-indicator {
		margin-top: -29px;
	}
}

// SS4 menu font icons
.menu__icon {
	position: absolute;
	margin-top: -1px;
	left: 13px;
	font-size: $font-size-lg;
	transition: all .2s;
	color: darken($base-menu-bg, 44%);

	.collapsed & {
		left: 22px;
	}
}

#Menu-Help {
	.text::after {
		content: "@";
		font-family: silverstripe;
		display: inline-block;
		opacity: 0;
		font-size: 10px;
		margin-left: 6px;
		margin-top: -2px;
		color: darken($base-menu-bg, 44%);
		transition: opacity .25s ease-in-out;
	}

	a:hover .text::after {
		opacity: 1;
	}
}

.cms-menu-list {

	a:focus,
	a:active {
		text-decoration: none;
	}

	li {

		a {
			display: block;
			min-height: 50px;
			color: $color-text-default;
			padding: (2 * $grid-y) 5px (2 * $grid-y) 8px;
			background-color: $base-menu-bg;
			cursor: pointer;
			position: relative;
			transition: padding .2s;
			text-decoration: none;
			box-shadow: inset $color-separator -1px 0 0;

			&:hover {
				text-decoration: none;
				background-color: $base-menu;
				color: darken($color-text-dark, 5%);
			}

			&:focus,
			&:active {
				background-color: $base-menu;
				text-decoration: none;
			}

			.icon {
				display: block;
				position: absolute;
				top: 50%;
				margin-left: $grid-x / 2;
				margin-top: -8px;
				opacity: 0.7;
			}

			.text {
				display: block;
				margin-left: 30px;
			}

			span.toggle-children {
				top: 0;
			}
		}

		.icon {
			display: block;
			position: absolute;
			top: 50%;
			margin-left: $grid-x / 2;
			margin-top: -8px;
			opacity: 0.7;
		}

		&.current { //need to apply current stlye to flyout also (at least line height)

			&>a {
				background-color: $base-menu;

				.toggle-children {
					.toggle-children-icon {
						@extend .icon-sprites-32x32;
						@include sprite($sprites-32x32-menu-arrow-down);
					}
				}
			}

			a {
				background-color: $base-menu;
			}

			ul {
				border-top: none;
				display: block;
			}

			li {
				background-color: $base-menu-bg;

				a {
					&.current,
					&:hover {
						background-color: $base-menu;
					}
				}

			}
		}


		// Has sub menu
		&.children {

			.no-icon.text {
				margin-left: 30px;
			}

			// Sub menu
			ul li a {
				font-size: 12px;
				line-height: 18px;
				height: 18px;
				padding-top: 11px;
				padding-bottom: 11px;
				color: lighten($color-text-default, 10%);
				background-color: $base-menu-bg;

				span.text {
					margin-left: 23px;
				}
			}

			&.current {
				> a {
					background-color: transparent;
					&:hover {
						background-color: lighten($base-menu, 3%);
					}
				}
			}

			&.opened {
				a:hover {
					background-color: lighten($base-menu, 3%);
				}
				.current a {
					background-color: $base-menu;
				}
				.opened .toggle-children-icon {
					transform: rotate(45deg);
				}
			}
		}

		/* Style applied to the menu flyout only when the collapsed setting */
		.collapsed-flyout {
			left: 59px;
			margin-top: -52px;
			position: fixed;
			width: 160px;
			z-index: 1;
			display: none;

			.icon {
				display: none;
			}

			li {
				a {
					background: $base-menu-bg;
					box-shadow: none;
					padding: 10px 0;
					height: 40px;
					line-height: 18px;

					&:hover,
					&:active {
						background: lighten($base-menu, 3%);
					}
				}

				&.children a {
					font-size: 13px;
					height: 18px;
					cursor: default;
				}

				&.current {
					a {
						background-color: $base-menu;
					}
					&.children a {
						background-color: $base-menu-bg;
					}
				}
			}
		}
	}

	&.collapsed {

		.toggle-children {
			display: none;
		}

		.opened {
			ul.collapsed-flyout {
				border-radius: 0px 2px 2px 0px ;
				border: 1px solid #d2d5d8;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

				li {
					&.clone {
						a {
							padding: 15px 0 15px 70px;
							margin-left: -60px;
							margin-right: 0px;
							box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

							span.text {
								margin-left: -10px;
							}
						}
					}

					a span.text {
						display: block;
						margin-left: 0;
					}
				}
			}

			.child-flyout-indicator {
				position: fixed;
				left: 196px;
				transform: rotate(45deg);
				margin-top: -33px;
			}
		}
	}
}
