/**
 * Helper SCSS file for the generated sprites for the interface.
 */

.ui-state-default, .ui-widget-content {
	[class*="btn-icon-"] {
		@extend .icon-btn-icon;
	}
	.btn-icon-accept_disable {@include sprite($btn-icon-accept_disabled);}
	.btn-icon-accept {@include sprite($btn-icon-accept);}
	.btn-icon-add_disabled {@include sprite($btn-icon-add_disabled);}
	.btn-icon-add {@include sprite($btn-icon-add);}
	.btn-icon-addMedia {@include sprite($btn-icon-addMedia);}
	.btn-icon-addpage_disabled {@include sprite($btn-icon-addpage_disabled);}
	.btn-icon-addpage {@include sprite($btn-icon-addpage);}
	.btn-icon-arrow-circle-135-left {@include sprite($btn-icon-arrow-circle-135-left);}
	.btn-icon-arrow-circle-double {@include sprite($btn-icon-arrow-circle-double);}
	.btn-icon-back_disabled {@include sprite($btn-icon-back_disabled);}
	.btn-icon-back {@include sprite($btn-icon-back);}
	.btn-icon-chain--arrow {@include sprite($btn-icon-chain--arrow);}
	.btn-icon-chain--exclamation {@include sprite($btn-icon-chain--exclamation);}
	.btn-icon-chain--minus {@include sprite($btn-icon-chain--minus);}
	.btn-icon-chain--pencil {@include sprite($btn-icon-chain--pencil);}
	.btn-icon-chain--plus {@include sprite($btn-icon-chain--plus);}
	.btn-icon-chain-small {@include sprite($btn-icon-chain-small);}
	.btn-icon-chain-unchain {@include sprite($btn-icon-chain-unchain);}
	.btn-icon-chain {@include sprite($btn-icon-chain);}
	.btn-icon-cross-circle_disabled {@include sprite($btn-icon-cross-circle_disabled);}
	.btn-icon-cross-circle {@include sprite($btn-icon-cross-circle);}
	.btn-icon-cross {@include sprite($btn-icon-cross);}
	.btn-icon-decline_disabled {@include sprite($btn-icon-decline_disabled);}
	.btn-icon-decline {@include sprite($btn-icon-decline);}
	.btn-icon-delete {@include sprite($btn-icon-delete);}
	.btn-icon-deleteLight {@include sprite($btn-icon-deleteLight);}
	.btn-icon-disk {@include sprite($btn-icon-disk);}
	.btn-icon-document--pencil {@include sprite($btn-icon-document--pencil);}
	.btn-icon-download-csv {@include sprite($btn-icon-download-csv);}
	.btn-icon-drive-upload_disabled {@include sprite($btn-icon-drive-upload_disabled);}
	.btn-icon-drive-upload {@include sprite($btn-icon-drive-upload);}
	.btn-icon-grid_print {@include sprite($btn-icon-grid_print);}
	.btn-icon-information {@include sprite($btn-icon-information);}
	.btn-icon-magnifier {@include sprite($btn-icon-magnifier);}
	.btn-icon-minus-circle_disabled {@include sprite($btn-icon-minus-circle_disabled);}
	.btn-icon-minus-circle {@include sprite($btn-icon-minus-circle);}
	.btn-icon-navigation_disabled {@include sprite($btn-icon-navigation_disabled);}
	.btn-icon-navigation {@include sprite($btn-icon-navigation);}
	.btn-icon-network-cloud_disabled {@include sprite($btn-icon-network-cloud_disabled);}
	.btn-icon-network-cloud {@include sprite($btn-icon-network-cloud);}
	.btn-icon-pencil_disabled {@include sprite($btn-icon-pencil_disabled);}
	.btn-icon-pencil {@include sprite($btn-icon-pencil);}
	.btn-icon-plug-disconnect-prohibition_disabled {@include sprite($btn-icon-plug-disconnect-prohibition_disabled);}
	.btn-icon-plug-disconnect-prohibition {@include sprite($btn-icon-plug-disconnect-prohibition);}
	.btn-icon-preview_disabled {@include sprite($btn-icon-preview_disabled);}
	.btn-icon-preview {@include sprite($btn-icon-preview);}
	.btn-icon-settings_disabled {@include sprite($btn-icon-settings_disabled);}
	.btn-icon-settings {@include sprite($btn-icon-settings);}
	.btn-icon-unpublish_disabled {@include sprite($btn-icon-unpublish_disabled);}
	.btn-icon-unpublish {@include sprite($btn-icon-unpublish_disabled);}
}

.icon {
	text-indent: -9999px;
	border: none;
	outline: none;

	&.icon-24 {
		width: 24px;
		height: 24px;
        @extend .icon-menu-icons-24x24;

		&.icon-campaignadmin {
			@include sprite($menu-icons-24x24-collection, inline-block);
		}
        &.icon-assetadmin {
    		@include sprite($menu-icons-24x24-picture, inline-block);
    	}
    	&.icon-cmsmain {
    		@include sprite($menu-icons-24x24-pencil, inline-block);
    	}
    	&.icon-cmspagescontroller {
    		@include sprite($menu-icons-24x24-network, inline-block);
    	}
    	&.icon-cmssettingscontroller {
    		@include sprite($menu-icons-24x24-gears, inline-block);
    	}
    	&.icon-securityadmin {
    		@include sprite($menu-icons-24x24-community, inline-block);
    	}
    	&.icon-reportadmin {
    		@include sprite($menu-icons-24x24-pie-chart, inline-block);
    	}
    	&.icon-commentadmin {
    		@include sprite($menu-icons-24x24-blog, inline-block);
    	}
    	&.icon-help {
    		@include sprite($menu-icons-24x24-information, inline-block);
    	}
	}

	&.icon-16 {
		width: 16px;
		height: 16px;
        @extend .icon-menu-icons-16x16;

		&.icon-campaignadmin {
			@include sprite($menu-icons-16x16-collection, inline-block);
		}
        &.icon-assetadmin {
    		@include sprite($menu-icons-16x16-picture, inline-block);
    	}
    	&.icon-cmsmain {
    		@include sprite($menu-icons-16x16-pencil, inline-block);
    	}
    	&.icon-cmspagescontroller {
    		@include sprite($menu-icons-16x16-network, inline-block);
    	}
    	&.icon-cmssettingscontroller {
    		@include sprite($menu-icons-16x16-gears, inline-block);
    	}
    	&.icon-securityadmin {
    		@include sprite($menu-icons-16x16-community, inline-block);
    	}
    	&.icon-reportadmin {
    		@include sprite($menu-icons-16x16-pie-chart, inline-block);
    	}
    	&.icon-commentadmin {
    		@include sprite($menu-icons-16x16-blog, inline-block);
    	}
    	&.icon-help {
    		@include sprite($menu-icons-16x16-information, inline-block);
    	}
	}
}
