#right form .calendardate, .calendardate {
	position: relative;
}
#right form .calendardate input, .calendardate input {
	width: 8em;
}

.calendardate .calendar table {
	width: 200px;
}

#SiteTreeFilterDate {
	width: 68px;
}

.calendardate img {
	position: relative;
	top: 2px;
	cursor: pointer;
}

.calendarpopup {
	position: absolute;
	left: 0em;
	top: 2em;
	display: none;
	z-index: 2;
}



.calendarpopup.focused {
	display: block;
}
