html,body {
	overflow:auto !important; 
	background: #fff !important; 
}

.ComplexTableField_popup {
	background: #fff;	
}

#ComplexTableField_Popup_DetailForm input.loading {
	background: #fff url(../../cms/images/network-save.gif) left center no-repeat;
	padding-left:16px;
}

.PageControls {
	padding: 5px;
	width: 100%;
}

.PageControls * {
	vertical-align: middle;
}

.PageControls .Left {
	width: 33%;
}

.PageControls .Count {
	width: 33%;
	text-align: center;
}

.PageControls .Right {
	width: 33%;
	text-align: right;
}

form {
	margin: 0 !important;
}

form fieldset {
	border: 0 !important;
}

/* IE6 hack */
* html body,
* html .ComplexTableField_Popup form .middleColumn span,
* html .ComplexTableField_Popup form .middleColumn *,
* html .ComplexTableField_Popup form .readonly .readonly {
	width: 90%;
}
* html .autocomplete {
	display: none;
}

.ComplexTableField_Popup td.hidden {
	display: none;
}

.ComplexTableField_Popup th.HiddenField{
	display: none;
}

.ComplexTableField_Popup span.right{
	float: right;
	clear: none;
}
.ComplexTableField_Popup span.left{
	float: left;
	clear: none;
}

/* Pagination */ 

#ComplexTableField_Pagination {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#ComplexTableField_Pagination a {
	font-size: 14px;
	width: 1px;
	height: 1px;
	margin: 1px;
}

#ComplexTableField_Pagination span {
	display: inline;
	color: red;
	font-size: 14px;
}

#ComplexTableField_Pagination div {
	display: inline;
}

#ComplexTableField_Pagination_Next a,#ComplexTableField_Pagination_Previous a {
	text-decoration: none;
}

#ComplexTableField_Pagination_Next a div {
	position: relative;
	left: -20px;
}

#ComplexTableField_Pagination_Next a img {
	position: relative;
	top: -15px;
	left: 5px;
}

#ComplexTableField_Pagination_Previous a img {
	position: relative;
	top: -15px;
	left: 35px;
}
