.popupdatetime ul {
	list-style:none;
	padding-left:0;
	font-size:1em;
}

.popupdatetime ul li {
	display:inline;
}

.popupdatetime ul li .calendarpopup {
	top: 2em;
	left: -1px;
	
	padding-top: 30px;
}

.popupdatetime ul li .dropdownpopup {
	top: 2em;
	left: -1px;
}