#right form .hasmanyfile a.addFile, #right form .hasmanyfile a.uploadFile, #right form .hasmanyfile .currentFiles li { font-size: 1.2em; padding-left: 3px; }

#right form .hasmanyfile a.uploadFile { border-color: #cccccc #999999 #999999 #cccccc; border-style: solid; border-width: 2px; color: #333333; cursor: pointer; font-size: 11px; font-weight: bold; position: relative; top: -29px; left: 344px; text-decoration: none; overflow: visible; padding: 3px 5px; float: left; width: auto; }

#right form .hasmanyfile a.removeFile { border-color: #cccccc #999999 #999999 #cccccc; border-style: solid; border-width: 2px; color: #333333; cursor: pointer; font-size: 10px; font-weight: bold; text-decoration: none; overflow: visible; padding: 3px 5px; width: auto; margin: -2px 0 0 10px; }

#right form .hasmanyfile a.removeFile:hover { background: #CE0000; color: #fff; }

#right form .hasmanyfile a.addFile { border-color: #cccccc #999999 #999999 #cccccc; border-style: solid; border-width: 2px; color: #333333; cursor: pointer; font-size: 11px; font-weight: bold; position: relative; top: -29px; left: 340px; text-decoration: none; overflow: visible; padding: 3px 5px; float: left; width: auto; }

#right form .hasmanyfile a.addFile:hover, #right form .hasmanyfile a.uploadFile:hover { background: #fff; }

#right form .hasmanyfile ul.currentFiles { padding-bottom: 5px; }

#right form .hasmanyfile .currentFiles li { height: 30px; line-height: 30px; }

#right form .hasmanyfile .clear { clear: both; }

/* ICONS */
#right form .hasmanyfile .currentFiles a[href$=".pdf"], #right form .hasmanyfile .currentFiles a[href$=".PDF"], #right form .hasmanyfile .currentFiles a.pdf { padding: 2px; padding-left: 20px; background: url(../images/icons/page_white_acrobat.png) no-repeat left center; }

#right form .hasmanyfile .currentFiles a[href$=".doc"], #right form .hasmanyfile .currentFiles a[href$=".DOC"], #right form .hasmanyfile .currentFiles a.doc { padding: 2px; padding-left: 20px; background: url(../images/icons/page_word.png) no-repeat left center; }

#right form .hasmanyfile .currentFiles a[href$=".xls"], #right form .hasmanyfile .currentFiles a[href$=".XLS"], #right form .hasmanyfile .currentFiles a.xls { padding: 2px; padding-left: 20px; background: url(../images/icons/page_excel.png) no-repeat left center; }

#right form .hasmanyfile .currentFiles a[href$=".gz"], #right form .hasmanyfile .currentFiles a[href$=".GZ"], #right form .hasmanyfile .currentFiles a[href$=".gzip"], #right form .hasmanyfile .currentFiles a[href$=".GZIP"], #right form .hasmanyfile .currentFiles a[href$=".zip"], #right form .hasmanyfile .currentFiles a[href$=".ZIP"], #right form .hasmanyfile .currentFiles a.archive { padding: 2px; padding-left: 20px; background: url(../images/icons/page_white_zip.png) no-repeat left center; }

#right form .hasmanyfile .currentFiles a[href$=".jpg"], #right form .hasmanyfile .currentFiles a[href$=".JPG"], #right form .hasmanyfile .currentFiles a[href$=".gif"], #right form .hasmanyfile .currentFiles a[href$=".GIF"], #right form .hasmanyfile .currentFiles a[href$=".png"], #right form .hasmanyfile .currentFiles a[href$=".PNG"], #right form .hasmanyfile .currentFiles a.image { padding: 2px; padding-left: 20px; background: url(../images/icons/icon-jpg.gif) no-repeat left center; }

#right form .hasmanyfile .currentFiles a[href$=".exe"], #right form .hasmanyfile .currentFiles a[href$=".EXE"], #right form .hasmanyfile .currentFiles a.application { padding: 2px; padding-left: 20px; background: url(../images/icons/application.png) no-repeat left center; }
