.popupdatetime ul {
	list-style:none;
	padding-left:0;
	font-size:1em;
}

.popupdatetime ul li {
	display:inline;
}

.popupdatetime ul li .calendarpopup {
	top: -0.7em;
}

.popupdatetime ul li .dropdownpopup {
	top: -0.5em;
}