div.ProgressBar {
	text-align: center;
	display: none;
}

	div.ProgressBar p.text {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	div.ProgressBar div.BarHolder {
		width: 100%;
		border: solid 1px #777;
		background-color: #FFF;
		padding: 2px;
		text-align: left;
	}
	
		div.ProgressBar div.BarHolder div.Bar {
			width: 0%;
			background-color: #0074C6;
		}