#Remember {
	margin: 0.5em 0 0.5em 11em !important;
}
	p#Remember label {
		display: inline-block;
		margin: 0;
	}
	#Remember input {
		float: left;
		margin: 0 5px 0 0;
	}
#MemberLoginForm_LoginForm .Actions {
	padding-left: 12em;
}
#ForgotPassword {
	margin-top: 1em;
}
