table.TableField, 
table.TableListField, 
.TableListField table.data, 
table.CMSList {
	border-collapse: collapse;
	border-spacing: 0;
	border : 1px solid #aaaaaa;
	width : 100%;
}

/* Preventing IE6 from showing double borders */
body>div table.TableField, 
body>div table.TableListField, 
body>div .TableListField table.data, 
body>div table.CMSList {
	border-collapse: separate;
}

table.TableField td, 
table.TableListField td, 
.TableListField table.data td, 
table.CMSList td {
	border-style:none;
}

table.TableField th, 
table.TableListField th, 
.TableListField table.data th, 
table.CMSList th {
	white-space: nowrap;
}

table.TableField thead th, 
.TableListField table.data thead th, 
table.CMSList thead th {
	background-image: url(../../cms/images/tables/thead.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #ebeadb;
	border-right: 1px solid #aca899;
	border-left: 1px solid #ffffff;
	white-space: nowrap;
	padding: 3px;
	font-size: 12px;
	text-align: left;
}

table.TableField thead th span, 
.TableListField table.data thead th span {
	font-size: 12px;
}

table.TableField thead th a, 
.TableListField table.data thead th a, 
table.CMSList thead th a {
	color: #000;
}

table.TableField thead th span.sortLink, 
.TableListField table.data thead th span.sortLink, 
table.CMSList thead th span.sortLink {
	overflow: hidden;
}

table.TableField tfoot tr.summary td, 
.TableListField table.data tfoot tr.summary td, 
table.CMSList tfoot tr.summary td {
	background-color : #ebeadb;
}

table.TableField tbody td, 
table.TableField tfoot td, 
.TableListField table.data tbody td, 
.TableListField table.data tfoot td, 
table.CMSList tbody td,
table.CMSList tfoot td {
	border: 1px solid #f1efe2;
	padding: 2px 4px;
}

.TableListField table.data tfoot tr.addtogrouprow td {
	padding:3px;
}

.TableListField table.data tfoot .actions {
   float: none;
}

.TableListField table.data tfoot tr.addtogrouprow input {
	width: 94%;
}

.TableField td input,
.TableListField td input {
	width: 98%;
}

table.data tbody td input,
table.data tbody td textarea {
	border:0 !important;
}

table.TableField tbody td.checkbox, 
.TableListField table.data tbody td.checkbox, 
table.CMSList tbody td.checkbox {
	border : 1px solid #f1efe2;
	padding-left : 5px;
	background-image : url(../../cms/images/tables/checkbox.png);
	background-repeat : repeat-x;
	background-position : left bottom;
}

table.TableField tbody tr.over td, 
.TableListField table.data tbody tr.over td, 
.TableListField table.data tbody tr.over td input,
table.CMSList tbody td.over td{
	background-color: #FFFFBB;
}

table.TableField tbody tr.current td, 
.TableListField table.data tbody tr.current td, 
table.CMSList tbody td.current td {
	background-color: #316ac5;
	color : white;
}

.TableListField table.data tfoot .addlink img {
	vertical-align: middle;
	margin: 3px 6px 3px 3px;
}

.TableListField table.data tfoot tr td a {
	text-decoration: none;
}

.TableListField table.data tbody tr td a:hover,
.TableListField table.data tfoot tr td a:hover {
	background: none;
}

/**
 * Show a loading indication on a TableListField row
 */
.TableListField tr.loading td.first {
    padding-left: 22px;
    background: url(../../cms/images/network-save.gif) 3px 2px no-repeat;
}

.right form .TableField span.readonly {
	border: 0;
	background: none;
	padding: 0;
	margin-bottom: 0;
}

.right form .TableListField td {
   background: #fff;
}

.TableListField div.utility {
	overflow: auto;
}
.TableListField div.utility .item {
	margin-top: 1em;
	padding: 3px 0 6px 0;
	display: block;
	float: left;
}
	.TableListField div.utility a {
		text-decoration: none;
		background-image:url(../../cms/images/textures/ToolBar.png);
		border-color: #ccc #999 #999 #ccc;
		border-style: double;
		color: #333;
		cursor: pointer;
		font-size: 11px;
		margin-right: 2px;
		overflow: visible;
		padding: 3px 2px;
		width: auto;	
	}
		.TableListField div.utility a:hover {
			background: #fff;
		}

form .TableField .message {
	width: auto;
}

.TableListField .selectOptions {
	overflow: auto;
	font: 1.3em;
	margin: 0;
	padding: 0;
}

.TableListField .selectOptions li {
	float: left;
	margin: 0px 5px;
}

.TableListField .PageControls {
	margin: 5px 0;
	text-align:center;
	display:block;
	margin-bottom: 5px;
	background:#ebeadb;
	border: 1px #cbc7b7 solid;
	position: relative;
}
.TableListField .PageControls * {
		display:inline;
		vertical-align: middle;
		font-weight: bold;
}
.TableListField .PageControls .Last{ 
	display: block;
	width: 40px; 
	text-align: right;
	position: absolute;
	right: 0px;
	top: 0px;
}
.TableListField .PageControls .First{
	float:left; display:block;
	width:40px; text-align:left;
}


#Pagination {
    margin-top: 10px;
    margin-left: auto;	
    margin-right: auto;
}
#Pagination a {
    font-size: 14px;
    width: 1px;
    height: 1px;
    margin: 1px;
}
#Pagination span {
    
    display: inline;
    color: red;
    font-size: 14px;
}
#Pagination div {
    display: inline;
}
#Pagination_Next a {
    text-decoration: none;	
}
#Pagination_Next a div {
    position: relative;
    left: -20px;
}
#Pagination_Next a img {
    position: relative;
    top: -15px;
    left: 5px;
}
#Pagination_Previous a {
    text-decoration: none;  
}
#Pagination_Previous a img {
    position: relative;
    top: -15px;
    left: 35px;
}
