#right form .dropdowntime, .dropdowntime {
	position: relative;
}

#right form .dropdowntime input, .dropdowntime input {
	width: 8em;
}

.morning {
	background: #ffc;
}
.noon {
	background: #fcc;
}
.afternoon {
	background: #cff;
}
.evening {
	background: #ccf;
}
.midnight {
	background: #ccc;
}

.dropdowntime img {
	position: relative;
	top: 3px;
	cursor: pointer;
}

.dropdownpopup {
	position: absolute;
	left: 13.8em;
	top: 0.1em;
	display: none;
	z-index: 2;
}
.dropdownpopup.focused {
	display: block;
}
.dropdownpopup select option {
	font-size: 12px;
}