div.TreeDropdownField {
	width: 400px;
	background: #fff;
	border: 1px solid #666;
	cursor: pointer;
	overflow: hidden;
}

	div.TreeDropdownField input {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
	}
	
	div.TreeDropdownField .title {
		float: left;
		padding: 7px;
		overflow:hidden;
	}

	div.TreeDropdownField .panel {
		clear: left;
		position: absolute;
		overflow: auto;
		display: none;
		cursor: default;
		border: 1px solid #666;
		border-top: none;
		margin: 1px 0 0 -1px; /* account for border on container div */
		width: 400px;
		height: 200px;
		background-color: #fff;
		z-index: 50;
	}
		div.TreeDropdownField .panel ul.tree {
			margin: 0;
		}
			div.TreeDropdownField .panel ul.tree a {
				font-size: 12px;
			}
		
	div.TreeDropdownField .toggle-panel-link {
		border: none;
		text-decoration: none;
		margin: 4px 4px 0 0;
		z-index: 0;
		overflow: hidden;
		float: right;
	}
	
	div.TreeDropdownField .loading,
	div.TreeDropdownField .jstree-themeroller a.jstree-loading .jstree-icon { 
		background: #fff url("../images/network-save.gif") center center no-repeat !important; 
	}