.datetime .middleColumn .middleColumn {
	margin: 0;
	padding: 0;
	clear: none;
	float: left;
}

.datetime .date .middleColumn {
	// Fits a standard date, as well as most abbreviated month names
	width: 16em;
}

.datetime .time .middleColumn {
	// make room to accommodate for additional modifier fields, 
	// such as a dropdown field to preselect time
	width: 6em; 
}
