form {

	* {
		font-size: 12px;
	}

	fieldset {
		margin: 0;
		padding: 0;
		border-style: none;
	}

	.field {
		clear: both;
		padding: 0.2em;
		margin: 0 0 0 10em;
		vertical-align: middle;
	}

	p.checkbox {
		margin: 0 0 0 8.5em;
	}

	.field.nolabel {
		margin-left: 0;
	}

	label.left {
		float: left;
		width: 10em;
		margin-left: -10em;
	}

	input.maxlength {
		width: auto;
	}

	.actions{
		float : right;
	}

	.validation, .error, .required {
		border: 1px solid #f00;
		background: #fcc;
		padding: 0.5em;
		width: 50%;
	}

	.field span.readonly {
		border: 1px #CCC dotted;
		background-color: #F7F7F7;
		display: block;
		width: 98%;
		padding: 3px;
		margin:5px 0;
	}

	.indicator.inline {
		display: inline;
		margin-left: 5px;
		vertical-align: middle;
	}

	.indicator.block {
		display: inline;
	}

	// Emulating link styling for actions requiring lesser attention, e.g. "cancel" FormActions
	button.minorAction {
		background: none;
		padding: 0;
		border: 0;
		color: #0074C6;
		text-decoration: underline;
	}

	/**
	 * Messages
	 */
	.message {
		margin: 1em 0;
		padding: 0.5em;
		font-weight: bold;
		border: 1px black solid;
		background-color: #B9FFB9;
		border-color: #00FF00;

		&.notice {
			background-color: #FCFFDF;
			border-color: #FF9300;
		}

		&.warning {
			background-color: #FFD2A6;
			border-color: #FF9300;
		}

		&.bad {
			background-color: #FF8080;
			border-color: #FF0000;
		}

		&.required, &.validation {
			display:block;
			margin-top:5px;
			color:#FF9300;
			width:240px;
			border-color: #FF9300;
		}

		&.validation {
			color:#FF4040;
			width:240px;
			border-color: #FF4040;
		}
	}
}

.typography .ss-tabset ul {
	margin: 0;
}
