h3 {
	font-family: Arial, sans-serif;
}
table {
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 12pt;
	tr{
		
	}
	th{
		border-bottom: 2px solid #333;
		padding: 5px 10px; 
		font-weight: bold;
		text-align: left;
		&:first-child{
			padding-left: 0px; 
		}
		
	}
	td{
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		text-align: left;
		padding: 5px 10px;
		&:first-child{
			padding-left: 0px; 
		} 
	}
}