.breadcrumb {
  font-size: $font-size-xs;
  line-height: 14px;
  margin-bottom: 0;
  float: left;
  max-height: $toolbar-height;
}

.breadcrumb__container {
  max-height: $toolbar-height;
}

.breadcrumb>li.breadcrumb__item--last, // TODO Fix Bootstrap clash
.breadcrumb__item--last {
  display: block;
  float: none;

  &.breadcrumb__item--no-crumb {
    h2 {
      padding-right: 1px;
    }

    &:before {
      content: "";
      padding: 0;
    }
  }
}

.cms h2.breadcrumb__item-title--last, // TODO Fix CMS clash
.breadcrumb__item-title--last {
  margin: 0;
  font-size: $font-size-lg;
  font-weight: normal;
  line-height: 24px;
  @include text-truncate;
}

// If only the title is shown
.breadcrumb__item:only-child {
  margin-top: 6px;
}

.breadcrumb__icon::before {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  vertical-align: middle;
}
