.grid-field-action-component {
    background: none;
    border: 0;
    color: $body-color;
    padding: 0 $spacer-x/2;
    height: 20px;
    vertical-align: top;

    &:hover {
        color: darken($body-color, 10%);
    }

    &::before {
        font-size: 20px;
    }
}

.grid-field-cell-component {
    display: table-cell;
    padding: $spacer-y $spacer-x;
    line-height: 20px;

    &:first-child {
        padding-left: #{$spacer-x + $spacer-x*.25};
    }

    &:last-child {
        padding-right: #{$spacer-x + $spacer-x*.25};
        width: 1px;

        span { // TEMP, remove commas in js
            display: none; 
        }
    }

    &:nth-child(2) {
        text-align: center;
        width: 1px;
    }

    &[data-reactid$=actionPlaceholder] {
        width: 1px;
    }

    &[data-reactid$=-actions] {
        white-space: nowrap;
    }
}

.grid-field-header-cell-component {
    text-transform: uppercase;
    font-size: $font-size-sm;
    display: table-cell;
    padding: $spacer-y $spacer-x;
    line-height: 20px;

    &:first-child {
        padding-left: $grid-x*2.5;
    }

    &:last-child {
        padding-right: $grid-x*2.5;
        width: 1px !important;
    }
}

.grid-field-table-component {
    border-collapse: collapse;

    li.grid-field-row-component {
        display: table-row;
        border: 0;
        border-bottom: 1px solid $border-color;
        margin: 0;
        padding: 0;

        // Header row
        &:first-child {
            background: none;
            border-bottom: 1px solid $border-color;
        }

		// Drillable rows highlight on hover
		&--drillable:hover {
			color: #555;
			text-decoration: none;
			background-color: #f5f5f5;

			.grid-field-cell-component--drillable {
				cursor: pointer;
			}
		}
    }
}

.grid-field-table-component {
    display: table;
    width: 100%;
}
