/**
 * This file defines common styles for form elements used throughout the CMS interface.
 * It is an addition to the base styles defined in sapphire/css/Form.css.
 */
	
.field {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid $color-shadow-light;
	overflow: hidden;
	
	label.left {
		float: left;
		width: 170px;
		padding: 8px 20px 8px 4px;
		line-height: $font-base-lineheight;
	}
	
	// Don't float inner/contained fields
	.middleColumn {
		margin-left: 15em;
		
		.field {
			display: inline;
			padding: 0;
			border: none;
		}

		label {
			float: none;
			width: auto;
		}
	}
}

.htmleditor {
	label {
		display: block;
		float: none;
		padding-bottom: 10px;
	}
	
	.middleColumn {
		margin-left: 0px
	}
}

// TODO Change to mixin?
form.nostyle {
	.field {
		display: inline;
		padding: 0;
		border: 0;
	}
	
	label {
		float: none;
		width: auto;
	}
	
	.middleColumn {
		margin-left: 0;
	}
}

.field.nolabel {	
	.middleColumn {
		margin-left: 0;
	}
}

input, textarea {
	@include border-radius(4px);
	background: #fff;
	@include linear-gradient(color-stops(
		#efefef,
		#fff 10%,
		#fff 90%,
		#efefef
	));
	border: 1px solid lighten($color-medium-separator, 20%);
	padding: 7px;
}

input.loading,
input.ui-state-default.loading, .ui-widget-content input.ui-state-default.loading, 
.ui-widget-header input.ui-state-default.loading {
	padding-left: 16px;
	background: $color-widget-bg url(../../images/network-save.gif) no-repeat center left;
}

// Buttons
.ui-state-hover {
	cursor: pointer;
}

.ss-ui-button.ss-ui-action-constructive,
.ui-widget-content .ss-ui-button.ss-ui-action-constructive,
.ui-widget-header .ss-ui-button.ss-ui-action-constructive {
	padding: 5px 7px 5px 23px;
	color: $color-text-light;
	border-color: $color-button-constructive-border;
	@include background(image-url("../images/btn_icons_sprite.png") no-repeat 5px 6px,
		linear-gradient(color-stops(
			$color-button-constructive-light,
			$color-button-constructive-dark
		))
	);
	@include text-shadow(darken($color-base, 40%) 1px 1px 0);
	@include box-shadow(darken($color-base, 20%) 1px 1px 2px);
}

.ss-ui-button.ss-ui-action-constructive.ui-state-hover {
	@include background(image-url("../images/btn_icons_sprite.png") no-repeat 5px 6px,
		linear-gradient(color-stops(
			darken($color-button-constructive-light, 2%),
			darken($color-button-constructive-dark, 3%)
		))
	);
	@include box-shadow(darken($color-base, 10%) 1px 1px 1px);
}

.ss-ui-button.ss-ui-action-constructive.cms-page-add-button {
	@include background(image-url("../images/btn_icons_sprite.png") no-repeat 5px -155px,
		linear-gradient(color-stops(
			$color-button-constructive-light,
			$color-button-constructive-dark
		))
	);
}

.ss-ui-button.ss-ui-action-constructive.cms-page-add-button.ui-state-hover {
	@include background(image-url("../images/btn_icons_sprite.png") no-repeat 5px -155px,
		linear-gradient(color-stops(
			darken($color-button-constructive-light, 2%),
			darken($color-button-constructive-dark, 3%)
		))
	);
	@include box-shadow(darken($color-base, 10%) 1px 1px 1px);
}

.ss-ui-button.ss-ui-action-destructive,
.ui-widget-content .ss-ui-button.ss-ui-action-destructive,
.ui-widget-header .ss-ui-button.ss-ui-action-destructive {
	color: $color-button-destructive;
}

.ss-ui-button.ss-ui-action-destructive.delete {
	padding: 5px 7px 5px 23px;
	color: $color-button-destructive;
	border-color: $color-button-generic-border;
	@include background(image-url("../images/btn_icons_sprite.png") no-repeat 5px -26px,
		linear-gradient(color-stops(
			$color-button-generic-light,
			$color-button-generic-dark
		))
	);
	@include text-shadow(none);
	@include box-shadow(darken($color-base, 2%) 1px 1px 2px);
}

.ss-ui-button.ss-ui-action-destructive.delete.ui-state-hover {
	@include background(image-url("../images/btn_icons_sprite.png") no-repeat 5px -26px,
		linear-gradient(color-stops(
			darken($color-button-generic-light, 2%),
			darken($color-button-generic-dark, 3%)
		))
	);
	@include box-shadow(darken($color-base, 10%) 1px 1px 1px);
}

.ss-ui-button.ss-ui-action-minor,
.ui-widget-content .ss-ui-button.ss-ui-action-minor
.ui-widget-header .ss-ui-button.ss-ui-action-minor {
	background: none;
	padding: 0;
	border: 0;
	color: $color-text-dark;
	text-decoration: underline;
}

.cms-edit-form {
	padding-bottom: 20px;
	
	.text input, textarea {
		width: 300px;
		font-family: $font-family;
		font-size: $font-base-size;
	}

	.Actions {
		text-align: right;
	}
}

.cms-content-tools {
	.field {
		label {
			float: none;
			width: auto;
		}
		
		.middleColumn {
			margin-left: 0;
		}
	}
}

.cms-content-toolbar {
	display: block;
	padding: 10px 0;
	margin: 0 0 15px 0;
	border-bottom-width: 2px;
	border-bottom: 2px groove lighten($color-shadow-light, 95%);
	-webkit-border-image: url(../images/textures/bg_fieldset_elements_border.png) 2 stretch stretch;
	border-image: url(../images/textures/bg_fieldset_elements_border.png) 2 stretch stretch;
	//TODO: use single border line with shadow instead:: http://daverupert.com/2011/06/two-tone-borders-with-css3/
}

.cms-content-batchactions, .cms-content-constructive-actions {
	float: right;
}

.cms-content-batchactions {
	position:  relative;
	display: block;
	margin-right:  8px;
}

form.cms-batch-actions {
	float:  left;
}

.cms-content-constructive-actions a {
	display:  block;
}

.field#ViewerGroups, .field#EditorGroups, .field#CreateTopLevelGroups {
	label {
		display: none;
	}
}

.action-hidden {
	display:  none;
}