//Mixin to adjust text in collapsed side panel and display vertically
@mixin IEVerticalPanelText{
	.cms-panel-content-collapsed {
		position:relative;
		width: 40px;		
		h2, h3 {
			&.cms-panel-header {
				zoom: 1;
				position:absolute;
				top:10px;
				right:10px;
				writing-mode: tb-rl;  
				float:right;
				z-index:5000;
			}
		}	
	}
}


//fix for background colors on buttons
.cms .ss-ui-button {
	background-color: $color-button-generic;
	&.ui-state-hover {
		background-color:lighten($color-button-generic, 5%);
	}
	&.ss-ui-action-constructive {
		background-color:$color-button-constructive;
		&.ui-state-hover {
			background-color:lighten($color-button-constructive, 5%);
		}
	}
	&.ss-gridfield-button-filter{
		$bgImage: url(../../images/icons/filter-icons.png) no-repeat;
		background:lighten($color-menu-button,10%) $bgImage -14px 4px;			
	}
}

.cms-content-toolbar{
	//add border below the content toolbar
	border-bottom:1px solid rgb(201, 205, 206);
}

//fix for background color on default tabs
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background-image:none;
}

//fix for filter and reset icons on datagrid
.ss-gridfield-button-filter.ss-ui-button {
	background: $color-button-generic url(../images/filter-icons.png) no-repeat -40px 6px; 
	filter:none;
	&.hover-alike:active {
		background-color: darken(#338DC1, 5%);
		background-position: -15px 7px; 
		filter:none;
	}
	&.hover-alike {
		background-color:  #338DC1;
		background-position: -16px 6px; 
		filter:none;
	}
}

.ss-gridfield-button-reset.ss-ui-button {
	background: $color-button-generic url(../images/filter-icons.png) no-repeat 8px 5px; 
	filter:none;
	&.filtered:hover {
		background: $color-button-destructive url(../images/filter-icons.png) no-repeat 8px -17px; 
		filter:none;
	}
	&.filtered:active {
		background: darken($color-button-destructive, 5%) url(../images/filter-icons.png) no-repeat 9px -16px; 
		filter:none;
	}
}

//fix for borders on gridfield table
.cms table.ss-gridfield-table {
	tr {
		td {
			border-right: 1px solid lighten($color-medium-separator, 10%);
		}
		th {
			border-right: 1px solid lighten($color-medium-separator, 10%);
			&.main {
				border-top: 1px solid lighten($color-medium-separator, 10%);
				border-bottom: none;
			}
			&.extra {
				border-top: 1px solid lighten($color-medium-separator, 10%);
				padding-right:12px;
			}
		}
	}
	td:first-child, th:first-child {
		border-left: 1px solid lighten($color-medium-separator, 10%);
	}
}

//fix for edit and delete icons - border appears on click.
.cms .ss-gridfield table.ss-gridfield-table tbody {
	td {
		button {
			border:0;
			background:none;
		}
	}
}

//fix for wrong alignment of label on parent groups field in users groups
.cms .cms-content .cms-content-fields {
	.aligned_right_label {
		margin-left:0;
	}
}

.cms-menu-list li a .icon{
 filter:none;
}


//fix for model admin filter styling 
.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content {
	#Form_ImportForm {
		div.file {
			margin:0px;
			input.file {
				margin-left: -132px; //hides unnecessary text input field 
			}
		}	
		div.checkbox {
			padding:0px; //stops clear database text from overflowing onto two lines.
		}
	}
}

.filter-buttons{
	button{
		&.ss-gridfield-button-filter{
			background-position: -18px 4px !important;
		}		
	}
}
