.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content {
	.cms-search-form {
		.resetformaction {
			margin-right:0px;
			span {
				padding-left:0px;
			}
		}
	}
	#Form_ImportForm {
		overflow:hidden;
	}
}