.ModelAdmin .cms-content-fields {
	overflow:hidden; //removes scrolling from filter panel
	.cms-edit-form {
		overflow-y:auto; //adds scrolling only to the datagrid 
	}
	.cms-content-tools .cms-panel-content {
		.cms-search-form {
			.resetformaction {
				margin-right:0px;
			}
		}
		#Form_ImportForm {
			overflow:hidden;
		}
	}	
}
