.ModelAdmin .cms-content-fields {
	.cms-edit-form {
		overflow-y:auto; //adds scrolling only to the datagrid
		overflow-x:hidden;
	}

	/**
	 * DEPRECATED:
	 * .cms-content-tools will be removed in 4.0
	 * Use .cms-content-filters instead.
	 *
	 * Hide certain elements when shown in "sidebar mode"
	 */
	.cms-content-tools .cms-panel-content {
		.cms-search-form {
			.resetformaction {
				margin-right:0px;
			}
		}
		#Form_ImportForm {
			overflow:hidden;
		}
	}
}
