.SecurityAdmin {
	.cms-edit-form .cms-content-header h2 {
		display: none;
	}

	// Same rules in .member-profile-form
	.permissioncheckboxset, .permissioncheckboxsetfield_readonly {
		.optionset {
			li {
				float: none;
				width: auto;
			}	
		}
	}
}