/**
 * Helper SCSS file for generating sprites for the interface.
 */
@import "compass/utilities/sprites/base";

@import "btn-icon/*.png";

.ui-state-default, .ui-widget-content {
	@include all-btn-icon-sprites;
}

$icon24: sprite-map("menu-icons/24x24/*.png");
$icon24-2x: sprite-map("menu-icons/24x24-2x/*.png");
$icon16: sprite-map("menu-icons/16x16/*.png");
$icon16-2x: sprite-map("menu-icons/16x16-2x/*.png");

$btn-icon: sprite-map("btn-icon/*.png", $spacing: 10px);
$sprites32: sprite-map("sprites-32x32/*.png", $spacing: 10px);
$sprites32-2x: sprite-map("sprites-32x32-2x/*.png", $spacing: 20px);
$sprites64: sprite-map("sprites-64x64/*.png", $spacing: 10px);
$sprites64-2x: sprite-map("sprites-64x64-2x/*.png", $spacing: 20px);

@mixin icons($sprite) {
	background: $sprite;
	
	&.icon-assetadmin {
		@include sprite($sprite, "picture");
	}
	&.icon-cmsmain {
		@include sprite($sprite, "pencil");
	}
	&.icon-cmspagescontroller {
		@include sprite($sprite, "network");
	}
	&.icon-cmssettingscontroller {
		@include sprite($sprite, "gears");
	}
	&.icon-securityadmin {
		@include sprite($sprite, "community");
	}
	&.icon-reportadmin {
		@include sprite($sprite, "pie-chart");
	}
	&.icon-commentadmin {
		@include sprite($sprite, "blog");
	}
	&.icon-help {
		@include sprite($sprite, "information");
	}
}

.icon {
	text-indent: -9999px;
	border: none;
	outline: none;
	
	&.icon-24 { 
		width: 24px;
		height: 24px;
	
		@include icons($icon24);
	}
	
	&.icon-16 {
		width: 16px;
		height: 16px;
		
		@include icons($icon16);
	}
}
