/**
 * File: typography.scss
 *
 * Contains the basic typography related styles for the admin interface.
 */
body, html {
	line-height: $grid-y * 2;
	font-family: $font-family;
	color: $color-text;
}

.cms {
	h2, h3, h4, h5 {
		font-weight: bold;
		margin: $grid-y * 2 0 $grid-y * 2 0;
		line-height: $grid-y * 2;
	}

	h2 {
		line-height: $grid-y * 3;
	}

	p {
		line-height: $grid-y * 2;
		margin-bottom: $grid-y * 2;
	}
	em {
		font-style: italic;
	}
	code {
		font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
	}

	pre {

	}

	table {

		thead {

		}
	}

	ol {

	}

	ul {

	}

}

