/**
 * File: typography.scss
 *
 * Contains the basic typography related styles for the admin interface.
 */



.cms {
	code {
		font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
	}
}

// Used for long sentences where you would like to truncate them with an ellipsis (requires a set width)
.truncate { 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Used for breaking text so it doesn't run horizontally, useful for breaking URLs
.break-string {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

// Standard table styles
.table {
	margin-top: 20px;
	margin-bottom: $spacer-y * 2;
	border-top: 0;

	thead th {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: normal;
		border-bottom: 1px solid #bbb;
		border-top: 0;
	}
}