/**
 * This file defines CMS-specific customizations to the jQuery UI theme.
 * Every rule in this file should be wrapped in the '.cms' selector (to make it more specific),
 * and contain ONLY overwritten jQuery UI rules (with 'ui-' prefix).
 * 
 * This file should be fairly short, as we're using our own custom jQuery UI theme already.
 * TODO Add theme reference
 * 
 * Use _style.scss to add more generic style information,
 * and read the jQuery UI theming API: http://jqueryui.com/docs/Theming/API
 */

.cms {	
	.ui-tabs {
		padding: 0;
		background: $tab-panel-texture-background;
		
		.ui-widget-header {
			border: 0;
			background: none;
		}
	 	
		.ui-tabs-nav {
			margin: 0;
			padding: 0;
			
			li {
				top: 0;
				
				a {
					padding: 0 15px;
				}
			}
			
			&.ui-state-active {
				border-color: $color-medium-separator;
			}
		}
		
		.ui-tabs-panel {
			background: transparent; // default it's white
			padding: $grid-vertical * 2 $grid-horizontal * 2;
		}
	}

	.ui-widget-content,
	.ui-widget {
		color: $color-text;
		font-size: $font-base-size;
		font-family: $font-family;
		border: 0;
	}
	
	.ui-widget-header {
		background: $color-widget-bg;
		border: 0;
		padding: 0;
	}

	.ui-state-hover {
		cursor: pointer;
	}
	
	.ui-widget input, 
	.ui-widget select, 
	.ui-widget textarea, 
	.ui-widget button {
		color: $color-text;
		font-size: $font-base-size;
		font-family: $font-family;
	}
	
	.ss-ui-button,
	.ui-widget-content .ss-ui-button,
	.ui-widget-header .ss-ui-button {

	}	
}