.cms-panel {
	.cms-panel-content-collapsed {
		width: 40px;
		h2, h3 {
			display: none;
		}
	}
}

//fix for overlapping of tree view mode checkboxes
.cms-content-toolbar .cms-tree-view-modes .checkboxAboveTree {
	margin-right:1px;
}

//add border below the content toolbar
.cms-content-toolbar {
	border-bottom:1px solid rgb(201, 205, 206);
}

//fix for the button icon shifting on hover
.ss-ui-button.cms-page-add-button.ui-state-hover, .cms .ss-ui-button.cms-page-add-button:hover { 
	background: #80bf40 url('../images/btn-icon-saaa1989272.png') 5px -49px no-repeat; 
}

//fix for background color on default tabs
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background-image:none;
}