/**
 * This file is the central collection of included modules, links to custom SCSS files,
 * and any global SCSS variable definitions.
 * 
 * DO NOT ADD stylesheet rules to this file directly!
 * 
 * Note: By prefixing files with an underscore, they won't create individual CSS files.
 *
 * Notes:
 * --------------------------------------------------------------
 * Z-indexes:
 *		* Menu bar on the right should always be on top. This is in the 80 range
 *		* Top navingation bar must always sit over the content. This is in the 60 range
 *		* Footer must sit over the content as well so this in the 40 range
 */

/** -----------------------------
 * Core Compass Libraries
 * ------------------------------ */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/general";

/** -----------------------------
 * Theme
 * ------------------------------ */
@import "themes/default.scss";

/** -----------------------------
 * Custom mixins
 * ------------------------------ */
@import "mixins.scss";

/** -----------------------------
 * Sprite images
 * ----------------------------- */
@import "sprites.scss";

/** -----------------------------
 * CMS Components
 * ------------------------------ */
@import "typography.scss";
@import "tree.scss";
@import "menu.scss";
@import "forms.scss";
@import "uitheme.scss";
@import "style.scss";

