/**
 * This file is the central collection of included modules, links to custom SCSS files,
 * and any global SCSS variable definitions.
 *
 * DO NOT ADD stylesheet rules to this file directly!
 *
 * Note: By prefixing files with an underscore, they won't create individual CSS files.
 *
 * Notes:
 * --------------------------------------------------------------
 * Z-indexes:
 *		* Menu bar on the right should always be on top. This is in the 80 range
 *		* Top navigation bar must always sit over the content. This is in the 60 range
 *		* Footer must sit over the content as well so this in the 40 range
 */

/** -----------------------------
 * Component base css
 * ------------------------------ */
@import "chosen.scss";

/** -----------------------------
 * Theme
 * ------------------------------ */
@import "themes/default.scss";

/** -----------------------------
 * Custom mixins
 * ------------------------------ */
@import "mixins.scss";

/** -----------------------------
 * Sprite images
 * ----------------------------- */
@import "spritey.scss";
@import "sprites.scss";

/** -----------------------------
 * CMS Components
 * ------------------------------ */
@import "fonts.scss";
@import "typography.scss";
@import "uitheme.scss";
@import "forms.scss";
@import "style.scss";
@import "tree.scss";
@import "menu.scss";
@import "preview.scss";
@import "actionTabs.scss";
@import "ModelAdmin.scss";
@import "SecurityAdmin.scss";
@import "CMSSecurity.scss";

/** -----------------------------
 * Include React components' css
 * ------------------------------ */
@import "../javascript/src/styles/main.scss";

/** -----------------------------
 * Retina graphics
 * ----------------------------- */
 @import "retina.scss";
