root = true

end_of_line = lf
insert_final_newline = true
indent_style = tab
charset = utf-8
trim_trailing_whitespace = true

# indentation for YAML config files
[_config/*.yml]
indent_style = space
indent_size = 2
