admin/javascript/src/ export-ignore
docs/                 export-ignore
javascript/src/       export ignore

# Hide diffs
admin/javascript/dist/ -diff merge=ours
javascript/dist/ -diff merge=ours
admin/javascript/css/* -diff merge=ours
javascript/css/* -diff merge=ours
