admin/javascript/src/ export-ignore
docs/                 export-ignore
javascript/src/       export ignore

# Hide diffs
admin/javascript/dist/ -diff
javascript/dist/ -diff
admin/javascript/css/* -diff
javascript/css/* -diff
