language: php 

php:
  - 5.3

env:
  - DB=MYSQL CORE_RELEASE=3.0

matrix:
  include:
    - php: 5.3
      env: DB=PGSQL CORE_RELEASE=3.0
    - php: 5.3
      env: DB=SQLITE CORE_RELEASE=3.0
    - php: 5.4
      env: DB=MYSQL CORE_RELEASE=3.0
    - php: 5.5
      env: DB=MYSQL CORE_RELEASE=3.0

before_script:
 - phpenv rehash
 - git clone git://github.com/silverstripe-labs/silverstripe-travis-support.git ~/travis-support
 - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
 - cd ~/builds/ss

script: 
 - vendor/bin/phpunit framework/tests

branches:
  except:
    - 2.1
    - 2.2
    - 2.3
    - translation-staging

notifications:
  irc:
    channels:
     - "irc.freenode.org#silverstripe"
