language: php 
php: 
 - 5.3
 - 5.4

env:
 - TESTDB=SQLITE
 - TESTDB=MYSQL
 - TESTDB=PGSQL

exclude:
  - php 5.4
    env: TESTDB=PGSQL
  - php 5.4
    env: TESTDB=SQLITE

before_script:
 - ./tests/travis/before_script ~/builds/ss 
 - cd ~/builds/ss

script: 
 - phpunit -c phpunit.xml.dist 

branches:
  except:
    - translation-staging
    - 2.4

