language: php 
php: 
 - 5.3
 - 5.4

env:
 - TESTDB=MYSQL
 - TESTDB=PGSQL

matrix:
  exclude:
    - php: 5.4
      env: TESTDB=PGSQL
    - php: 5.4
      env: TESTDB=SQLITE

before_script:
 - pear install pear/PHP_CodeSniffer
 - phpenv rehash
 - ./tests/travis/before_script ~/builds/ss 
 - cd ~/builds/ss

script: 
 - phpunit -c phpunit.xml.dist 
 - phpcs --encoding=utf-8 --tab-width=4 --standard=framework/tests/phpcs -np framework/api framework/cache framework/cli framework/conf framework/core framework/model framework/control framework/view framework/tests framework/css framework/dev framework/email framework/filesystem framework/forms

branches:
  except:
    - translation-staging
    - 2.4

notifications:
  irc:
    channels:
     - "irc.freenode.org#silverstripe"
