language: php 
php: 
 - 5.3

env:
 - TESTDB=SQLITE
 - TESTDB=MYSQL
 - TESTDB=PGSQL

before_script:
 - ./tests/travis/before_script ~/builds/ss 
 - cd ~/builds/ss

script: 
 - phpunit -c phpunit.xml.dist 

branches:
  except:
    - translation-staging
    - 2.4

