language: php 
php: 
 - 5.3

env:
 - TESTDB=MYSQL
 - TESTDB=PGSQL

before_script:
 - phpenv rehash
 - ./tests/travis/before.php --target ~/builds/ss --version="2.5.x-dev" --installer="post-2.4"
 - cd ~/builds/ss

script: 
 - vendor/bin/phpunit -c phpunit.xml.dist 

branches:
  except:
    - 2.1
    - 2.2
    - 2.3
    - translation-staging

notifications:
  irc:
    channels:
     - "irc.freenode.org#silverstripe"