language: php 
php: 
 - 5.3
 - 5.4

env:
 - TESTDB=MYSQL
 - TESTDB=PGSQL

matrix:
  exclude:
    - php: 5.4
      env: TESTDB=PGSQL
    - php: 5.4
      env: TESTDB=SQLITE

before_script:
 - pear install pear/PHP_CodeSniffer
 - phpenv rehash
 - ./tests/travis/before_script ~/builds/ss 
 - cd ~/builds/ss

script: 
 - phpunit -c phpunit.xml.dist 
 - phpcs --encoding=utf-8 --tab-width=4 --standard=framework/tests/phpcs -np framework

branches:
  except:
    - 2.1
    - 2.2
    - 2.3
    - 2.4
    - post-2.4
    - translation-staging

notifications:
  irc:
    channels:
     - "irc.freenode.org#silverstripe"
