language: php 
php: 
 - 5.3
 - 5.4

env:
 - TESTDB=MYSQL
 - TESTDB=SQLITE

matrix:
  exclude:
    - php: 5.4
      env: TESTDB=PGSQL
    - php: 5.4
      env: TESTDB=SQLITE
  include:
    - php: 5.4
      env:
        - PHPCS=1
  allow_failures:
    - env: TESTDB=PGSQL
    - php: 5.4
      env:
        - PHPCS=1

before_script:
 - pear install pear/PHP_CodeSniffer
 - phpenv rehash
 - ./tests/travis/before_script ~/builds/ss 
 - cd ~/builds/ss

script: 
 - sh -c "if [ '$PHPCS' != '1' ]; then phpunit -c phpunit.xml.dist; else phpcs --encoding=utf-8 --tab-width=4 --standard=framework/tests/phpcs/ruleset.xml -np framework && phpcs --encoding=utf-8 --standard=framework/tests/phpcs/tabs.xml -np framework; fi"

branches:
  except:
    - 2.1
    - 2.2
    - 2.3
    - translation-staging

notifications:
  irc:
    channels:
     - "irc.freenode.org#silverstripe"
