<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="SilverStripe">
	<description>CodeSniffer ruleset for SilverStripe coding conventions.</description>

	<!-- base rules are PSR-2 -->
	<rule ref="PSR2" >
		<!-- Current exclusions -->
		<exclude name="PSR1.Methods.CamelCapsMethodName" />
		<exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
		<exclude name="PSR2.Classes.PropertyDeclaration" />
		<exclude name="PSR2.Methods.MethodDeclaration.Underscore" />
		<exclude name="Squiz.Classes.ValidClassName.NotCamelCaps" />
		<exclude name="PEAR.Functions.ValidDefaultValue.NotAtEnd" />
	</rule>
	<rule phpcbf-only="true" ref="Squiz.Strings.ConcatenationSpacing">
		<properties>
			<property name="spacing" value="1" />
			<property name="ignoreNewlines" value="true"/>
		</properties>
	</rule>

	<!-- include php files only -->
	<arg name="extensions" value="php,lib,inc,php5"/>

	<exclude-pattern>*/_fakewebroot/*</exclude-pattern>
	<exclude-pattern>*/fixtures/*</exclude-pattern>
</ruleset>

