<?xml version="1.0" encoding="UTF-8"?>
<!--
Standard module phpunit configuration.
Requires PHPUnit ^9
-->
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Default">
            <directory>tests/php</directory>
        </testsuite>
        <!-- Framework ORM tests are split up to run in parallel -->
        <testsuite name="framework-core">
            <directory>tests/php/Control</directory>
            <directory>tests/php/Core</directory>
            <directory>tests/php/Dev</directory>
            <directory>tests/php/Forms</directory>
            <directory>tests/php/i18n</directory>
            <directory>tests/php/Logging</directory>
            <directory>tests/php/Security</directory>
            <directory>tests/php/View</directory>
        </testsuite>
        <testsuite name="framework-orm">
            <directory>tests/php/ORM</directory>
        </testsuite>
        <testsuite name="cms">
            <directory>vendor/silverstripe/cms/tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests/</directory>
            <directory suffix=".php">thirdparty/</directory>
        </exclude>
    </coverage>
</phpunit>
