.SelectionGroup,
.selection-group {
  padding-left: 0;
  clear: both;

  li {
    list-style-type: none;

    > div.selectiongroup_item,
    > .selection-group__item__fieldlist {
      display: none;
    }

    &.selected > div.selectiongroup_item,
    &.selected > .selection-group__item__fieldlist {
      display: block;
    }
  }

  // Fix for the label not wrapping around the input as it should with Bootstrap
  input.selector {
    width: 20px;
    margin-top: 2px;
    float: left;
  }
}

.mainblock.allassets ul {
  padding: 0 0 0 10px;
  height: 100px;
  overflow-y: scroll;

  li {
    width: 150px;
  }
}
