.cms-content__inner {
  height: 100%;
}

.cms-content__right,
.cms-content__left {
  height: 100%;
  overflow: hidden;
  background-color: $body-bg;
  transition: width .2s;
}

.panel-scrollable,
.panel-scrollable--single-toolbar,
.panel-scrollable--double-toolbar {
  overflow-y: auto;
  height: 100%;
}
.panel-scrollable--single-toolbar {
  height: calc(100% - #{$toolbar-total-height});
}
.panel-scrollable--double-toolbar {
  height: calc(100% - #{$toolbar-total-height * 2});
}

// .cms-content can be split into different left/right zones
// Exampale modifier: --left-sm = small left side panel with right panel width set to auto.
.cms-content__split {
  height: 100%;
}
.cms-content__split--left-sm {
  .cms-content__right {
    position: relative;
    border-left: 1px solid $border-color;
  }
  .cms-content__left {
    width: 100%;
    position: absolute;
    left: 0;
  }
  @media (min-width: 992px) { /* lg */
    padding-left: $cms-panel-sm;

    .cms-content__left {
      width: $cms-panel-sm;
    }
  }
  @media (min-width: 1200px) { /* xl */
    padding-left: $cms-panel-md;

    .cms-content__left {
      width: $cms-panel-md;
    }
  }
}
