// Variables
//
// This file contains the keys for bootstrap variables, the commented code is bootstrap's default values.
// Commented lines indicate that the default Bootstrap values are being used.
// All variables which are uncommented the values will be in use so be cautious when adjusting their values..


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// General variable structure
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
// Grayscale and brand colors for use across Bootstrap.


$gray-dark: #4f5861; // Used for text
$gray: lighten($gray-dark, 2%);
$gray-light: lighten($gray-dark, 50%);
$gray-lighter: lighten($gray-dark, 57%);
// $gray-lightest: #f7f7f9;
$gray-darker: darken($gray-dark, 10%);
$gray-darkest: darken($gray-dark, 20%);
$white: #fff; // Never change, create new variable if needed
$black: #000; // Never change

$brand-secondary: #005a93;
$brand-primary: #29abe2;
$brand-success: #3fa142;
// $brand-info: #5bc0de;
// $brand-warning: #f0ad4e;
$brand-danger: #d40404;

// Backgrounds
$background-main: #f6f7f8;
$background-darker: darken($background-main, 2);


// Borders
$border-color-lighter: darken($background-main, 2);
$border-color-light: darken($background-main, 6);
$border-color: darken($background-main, 10);
$border-color-dark: darken($background-main, 14);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex: true;
// $enable-rounded: true;
$enable-shadows: true;
// $enable-gradients: false;
$enable-transitions: true;
// $enable-hover-media-query: false;
// $enable-grid-classes: true;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: 1.2308rem; // $font-size-root (13px) * $spacer = 16px
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);
$border-width: 1px;


// Body
//
// Settings for the `<body>` element.

$body-bg: $background-main;
$body-color: $gray-dark; // eg. Text, labels, iconography
$body-color-light: lighten($gray-dark, 10); // eg. Field descriptions
$body-color-lighter: lighten($gray-dark, 20); // eg. placeholder text
$body-color-dark:    darken($body-color, 10%);  // eg. iconography hovered


// Links
//
// Style anchor elements.

$link-color: #0071c4;
$link-decoration: none;
$link-hover-color: darken($link-color, 5%);
$link-hover-decoration: underline;


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Extra extra large screen / wide desktop
  xxl: 1400px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: $spacer * 2.5; // 40px
$grid-gutter-width-half: $grid-gutter-width / 2; // TODO: Deprecate this, replacing with $panel-padding-x and $panel-padding-y


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 13px;

$font-size-base: 1rem;
$font-size-lg: 1.23rem; // 16px
$font-size-sm: .923rem; // 12px
$font-size-xs: .847rem; // 11px
$font-size-xxs: .77rem; // 10px

$font-size-h1: 1.693rem; // 22px
$font-size-h2: 18px; // 2rem;
$font-size-h3: 16px; // 1.75rem;
$font-size-h4: 14px; // 1.5rem;
$font-size-h5: 13px; // 1.25rem;
$font-size-h6: 12px; // 1rem;

// $display1-size: 6rem;
// $display2-size: 5.5rem;
// $display3-size: 4.5rem;
// $display4-size: 3.5rem;
//
// $display1-weight: 300;
// $display2-weight: 300;
// $display3-weight: 300;
// $display4-weight: 300;

$line-height: 1.539;
$line-height-base: 20px; // can be used with varying font-sizes, holds grid sizing

$headings-margin-bottom: $spacer;
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;

// $lead-font-size: 1.25rem;
// $lead-font-weight: 300;
//
$text-muted: lighten($body-color, 10%);
//
// $abbr-border-color: $gray-light;
//
// $blockquote-small-color: $gray-light;
// $blockquote-font-size: ($font-size-base * 1.25);
// $blockquote-border-color: $gray-lighter;
//
// $hr-border-color: rgba(0,0,0,.1);
// $hr-border-width: $border-width;
//
// $dt-font-weight: bold;
//
// $nested-kbd-font-weight: bold;
//
// $list-inline-padding: 5px;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: (4 / 3);
$line-height-sm: 1.5;

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$component-active-color: $white;
$component-active-bg: $brand-primary; // SS3 was #338DC1
$component-active-bg-light: lighten($component-active-bg, 42%);
$component-active-border-color: $brand-primary;

$caret-width: .3em;
$caret-width-lg: $caret-width;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: $spacer;
$table-sm-cell-padding: $spacer * .75;

$table-bg: transparent;
$table-bg-accent: $white; // lighten(#f0f4f7, 1%) #F0F4F7 #e9f0f4
$table-bg-hover: #f0f4f7;
$table-bg-active: $brand-primary;
$table-bg-tools: $gray-dark;
$table-bg-footer: $background-main;

$table-border-width: $border-width;
$table-border-color: $gray-lighter;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x: .7692rem; // 10px
$btn-padding-y: .3846rem; // 5px
$btn-font-weight: normal;

$btn-primary-color: $white;
$btn-primary-bg: $brand-success;
$btn-primary-border: $btn-primary-bg;
$btn-primary-shadow: darken($btn-primary-bg, 6%);

$btn-secondary-color: $body-color-light;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: $border-color-dark;

// $btn-info-color: #fff;
// $btn-info-bg: $brand-info;
// $btn-info-border: $btn-info-bg;

// $btn-success-color: #fff;
// $btn-success-bg: $brand-success;
// $btn-success-border: $btn-success-bg;

$btn-complete-color: #555;
$btn-complete-bg: $btn-primary-bg;
$btn-complete-border: $gray-light;
$btn-complete-shadow: darken($btn-primary-bg, 6%);

// $btn-warning-color: #fff;
// $btn-warning-bg: $brand-warning;
// $btn-warning-border: $btn-warning-bg;

$btn-danger-color: $white;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $brand-danger;

// $btn-link-disabled-color: $gray-light;
//
// $btn-padding-x-sm: .75rem;
// $btn-padding-y-sm: .25rem;
//
// $btn-padding-x-lg: 1.25rem;
// $btn-padding-y-lg: .75rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: .23rem;
$btn-border-radius-lg: .25rem;
$btn-border-radius-sm: .154rem;


// Forms

$input-padding-x: .75rem;
$input-padding-y: .5385rem;
$input-max-width: 895px; // Approx max possible at small screen sizes

$input-bg: $white;
$input-bg-disabled: $background-darker;

$input-color: $body-color-light;
$input-border-color: $border-color-dark;
$input-btn-border-width: $border-width; // For form controls and buttons
// scss-lint:disable ColorVariable
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
// scss-lint:enable ColorVariable

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;

$input-border-focus: #66afe9;
// scss-lint:disable ColorVariable
$input-box-shadow-focus: rgba(102, 175, 233, .6);
// scss-lint:enable ColorVariable

// $input-color-placeholder: #999;
//
// $input-padding-x-sm: .75rem;
// $input-padding-y-sm: .275rem;
//
// $input-padding-x-lg: 1.25rem;
// $input-padding-y-lg: .75rem;
//
// $input-height: (($font-size-base * $line-height) + ($input-padding-y * 2));
// $input-height-lg: (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2));
// $input-height-sm: (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2));
//
// $form-group-margin-bottom: $spacer-y;
//
// $input-group-addon-bg: $gray-lighter;
// $input-group-addon-border-color: $input-border-color;
//
// $cursor-disabled: not-allowed;


// Form validation icons
// $form-icon-success: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==";
// $form-icon-warning: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+";
// $form-icon-danger: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=";


// Dropdowns
//
// Dropdown menu container and contents.

// $dropdown-bg: #fff;
// $dropdown-border-color: rgba(0,0,0,.15);
// $dropdown-border-width: $border-width;
// $dropdown-divider-bg: #e5e5e5;
//
// $dropdown-link-color: $gray-dark;
// $dropdown-link-hover-color: darken($gray-dark, 5%);
// $dropdown-link-hover-bg: #f5f5f5;
//
// $dropdown-link-active-color: $component-active-color;
// $dropdown-link-active-bg: $component-active-bg;
//
// $dropdown-link-disabled-color: $gray-light;
//
// $dropdown-header-color: $gray-light;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// $zindex-navbar: 1000;
// $zindex-dropdown: 1000;
$zindex-popover: 1060;
// $zindex-tooltip: 1070;
// $zindex-navbar-fixed: 1030;
// $zindex-navbar-sticky: 1030;
// $zindex-modal-bg: 1040;
// $zindex-modal: 1050;


// SS toolbars
// Used for ui layout which contains main actions, seconday page action, top breadcrumbs and navigation bars.

$toolbar-height: 52px;
$toolbar-total-height: $toolbar-height + 1px; // Include border


// Navbar

$navbar-border-radius:  0;
$navbar-padding-horizontal: $spacer;
$navbar-padding-vertical: ($spacer / 2);

// $navbar-dark-color: rgba(255,255,255,.5);
// $navbar-dark-hover-color: rgba(255,255,255,.75);
// $navbar-dark-active-color: rgba(255,255,255,1);
// $navbar-dark-disabled-color: rgba(255,255,255,.25);
//
// $navbar-light-color: rgba(0,0,0,.3);
// $navbar-light-hover-color: rgba(0,0,0,.6);
// $navbar-light-active-color: rgba(0,0,0,.8);
// $navbar-light-disabled-color: rgba(0,0,0,.15);


// Navs

$nav-tabs-link-border-width: .23rem; // 3px
$nav-tabs-link-hover-border-color: $gray-light;

$nav-link-padding: $spacer-y #{$spacer-x / 2} #{$spacer-y - $nav-tabs-link-border-width};
$nav-link-hover-bg: transparent;

// $nav-disabled-link-color: $gray-light;
// $nav-disabled-link-hover-color: $gray-light;

$nav-tabs-border-color: $border-color;
$nav-tabs-active-link-hover-bg: transparent;
$nav-tabs-active-link-hover-color: $body-color;
$nav-tabs-active-link-hover-border-color: $body-color-light;

// $nav-tabs-justified-link-border-color: #ddd;
// $nav-tabs-justified-active-link-border-color: $body-bg;

// $nav-pills-border-radius: $border-radius;
// $nav-pills-active-link-hover-bg: $component-active-bg;
// $nav-pills-active-link-hover-color: $component-active-color;


// Pagination

// $pagination-padding-x: .75rem;
// $pagination-padding-y: .5rem;
// $pagination-padding-x-sm: .75rem;
// $pagination-padding-y-sm: .275rem;
// $pagination-padding-x-lg: 1.5rem;
// $pagination-padding-y-lg: .75rem;
//
//
// $pagination-color: $link-color;
// $pagination-bg: #fff;
// $pagination-border-width: $border-width;
// $pagination-border-color: #ddd;
//
// $pagination-hover-color: $link-hover-color;
// $pagination-hover-bg: $gray-lighter;
// $pagination-hover-border: #ddd;
//
// $pagination-active-color: #fff;
// $pagination-active-bg: $brand-primary;
// $pagination-active-border: $brand-primary;
//
// $pagination-disabled-color: $gray-light;
// $pagination-disabled-bg: #fff;
// $pagination-disabled-border: #ddd;


// Pager

// $pager-bg: $pagination-bg;
// $pager-border-width: $border-width;
// $pager-border-color: $pagination-border-color;
// $pager-border-radius: 15px;
//
// $pager-hover-bg: $pagination-hover-bg;
//
// $pager-active-bg: $pagination-active-bg;
// $pager-active-color: $pagination-active-color;
//
// $pager-disabled-color: $pagination-disabled-color;


// Jumbotron

// $jumbotron-padding: 2rem;
// $jumbotron-bg: $gray-lighter;


// Form states and alerts
// Define colors for form feedback states and, by default, alerts.

// $state-success-text: #3c763d;
// $state-success-bg: #dff0d8;
// $state-success-border: darken($state-success-bg, 5%);
//
// $state-info-text: #31708f;
// $state-info-bg: #d9edf7;
// $state-info-border: darken($state-info-bg, 7%);

$state-warning-text: #8a6d3b;
$state-warning-bg: #fcf8e3;
$state-warning-border: darken($state-warning-bg, 15%);

// $state-danger-text: #a94442;
// $state-danger-bg: #f2dede;
// $state-danger-border: darken($state-danger-bg, 5%);


// Cards
// $card-spacer-x: 1.25rem;
// $card-spacer-y: .75rem;
// $card-border-width: 1px;
// $card-border-radius: $border-radius;
// $card-border-color: #e5e5e5;
// $card-border-radius-inner: $card-border-radius;
// $card-cap-bg: #f5f5f5;
// $card-bg: #fff;
//
// $card-link-hover-color: #fff;


// Tooltips

// $tooltip-max-width: 200px;
// $tooltip-color: #fff;
// $tooltip-bg: #000;
// $tooltip-opacity: .9;
//
// $tooltip-arrow-width: 5px;
// $tooltip-arrow-color: $tooltip-bg;


// Popovers

$popover-bg: $white;
$popover-max-width: 276px;
$popover-border-width: $border-width;
$popover-border-color: rgba(0 , 0, 0, .1);

$popover-title-bg: $background-darker;

$popover-arrow-width: 10px;
$popover-arrow-color: $popover-bg;

$popover-arrow-outer-width: ($popover-arrow-width + 1);
$popover-arrow-outer-color: fade-in($popover-border-color, 0.05);
$popover-padding: $spacer-x;


// Labels

// $label-default-bg: $gray-light;
// $label-primary-bg: $brand-primary;
// $label-success-bg: $brand-success;
// $label-info-bg: $brand-info;
// $label-warning-bg: $brand-warning;
// $label-danger-bg: $brand-danger;
//
// $label-color: #fff;
// $label-link-hover-color: #fff;
// $label-font-weight: bold;


// Modals

// Padding applied to the modal body
// $modal-inner-padding: 15px;
//
// $modal-title-padding: 15px;
// $modal-title-line-height: $line-height;
//
// $modal-content-bg: #fff;
// $modal-content-border-color: rgba(0,0,0,.2);
//
// $modal-backdrop-bg: #000;
// $modal-backdrop-opacity: .5;
// $modal-header-border-color: #e5e5e5;
// $modal-footer-border-color: $modal-header-border-color;
//
// $modal-lg: 900px;
// $modal-md: 600px;
// $modal-sm: 300px;


// Alerts
//
// Define alert colors, border radius, and padding.

// $alert-padding: 15px;
// $alert-border-radius: $border-radius;
// $alert-link-font-weight: bold;
// $alert-border-width: $border-width;
//
// $alert-success-bg: $state-success-bg;
// $alert-success-text: $state-success-text;
// $alert-success-border: $state-success-border;
//
// $alert-info-bg: $state-info-bg;
// $alert-info-text: $state-info-text;
// $alert-info-border: $state-info-border;
//
// $alert-warning-bg: $state-warning-bg;
// $alert-warning-text: $state-warning-text;
// $alert-warning-border: $state-warning-border;
//
// $alert-danger-bg: $state-danger-bg;
// $alert-danger-text: $state-danger-text;
// $alert-danger-border: $state-danger-border;


// Progress bars

// $progress-bg: #f5f5f5;
// $progress-bar-color: #fff;
// $progress-border-radius: $border-radius;
//
// $progress-bar-bg: $brand-primary;
// $progress-bar-success-bg: $brand-success;
// $progress-bar-warning-bg: $brand-warning;
// $progress-bar-danger-bg: $brand-danger;
// $progress-bar-info-bg: $brand-info;


// List group

$list-group-bg: #fff;
$list-group-border-color: #ddd;
$list-group-border-width: $border-width;
$list-group-border-radius: $border-radius;

$list-group-hover-bg: #f5f5f5;
$list-group-active-color: $component-active-color;
$list-group-active-bg: $component-active-bg;
$list-group-active-border: $list-group-active-bg;
$list-group-active-text-color: lighten($list-group-active-bg, 40%);

$list-group-disabled-color: $gray-light;
$list-group-disabled-bg: $gray-lighter;
$list-group-disabled-text-color: $list-group-disabled-color;

$list-group-link-color: $body-color;
$list-group-link-hover-color: $list-group-link-color;
$list-group-link-heading-color: $body-color;


// Image thumbnails

// $thumbnail-padding: .25rem;
// $thumbnail-bg: $body-bg;
// $thumbnail-border-width: $border-width;
// $thumbnail-border-color: #ddd;
// $thumbnail-border-radius: $border-radius;


// Breadcrumbs

$breadcrumb-padding-vertical: 7px;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $border-color-dark;
$breadcrumb-active-color: $body-color;
$breadcrumb-divider: "/";


// Carousel

// $carousel-text-shadow: 0 1px 2px rgba(0,0,0,.6);
//
// $carousel-control-color: #fff;
// $carousel-control-width: 15%;
// $carousel-control-opacity: .5;
// $carousel-control-font-size: 20px;
//
// $carousel-indicator-active-bg: #fff;
// $carousel-indicator-border-color: #fff;
//
// $carousel-caption-color: #fff;


// Close

// $close-font-weight: bold;
// $close-color: #000;
// $close-text-shadow: 0 1px 0 #fff;


// Code

// $code-color: #bd4147;
// $code-bg: #f7f7f9;
//
// $kbd-color: #fff;
// $kbd-bg: #333;
//
// $pre-bg: #f7f7f9;
// $pre-color: $gray-dark;
// $pre-border-color: #ccc;
// $pre-scrollable-max-height: 340px;

// Panel sizes
$cms-panel-xs: 60px;
$cms-panel-sm: 300px;
$cms-panel-md: 448px;
$cms-panel-lg: 638px;

// Panel padding
$panel-padding-x: #{$grid-gutter-width / 2};
$panel-padding-y: #{$grid-gutter-width / 2};


// Shadows
$shadow-level-1: rgba(0, 0, 0, .1);
$shadow-level-2: rgba(0, 0, 0, .15);
$shadow-level-3: rgba(0, 0, 0, .2);
$shadow-level-4: rgba(0, 0, 0, .25);
$shadow-level-5: rgba(0, 0, 0, .30);

// TODO tidy all shadows cms wide (including AssetAdmin)
$shadow-light: $shadow-level-3;
$shadow-lighter: $shadow-level-1;
$dropdown-shadow: 0 0 3px $shadow-level-3;
$gallery-item-shadow: 0 1px 4px $shadow-level-3;

// Gives items depth of different levels
$z-depth-1: 0 2px 5px 0 $shadow-level-1, 0 2px 10px 0 $shadow-level-1;
$z-depth-2: 0 8px 12px 0 $shadow-level-3, 0 6px 20px 0 $shadow-level-2;
$z-depth-3: 0 12px 20px 0 $shadow-level-4, 0 17px 40px 0 $shadow-level-3;
$z-depth-4: 0 16px 28px 0 $shadow-level-5, 0 25px 55px 0 $shadow-level-5;

// Masks: typically behind modals, drag drop areas
$page-mask-light: rgba(236, 239, 241, .9);


// Gallery thumbnail and image sizes

$gallery-thumb-width:   176px;
$gallery-thumb-height:  132px;

$gallery-item-width:    $gallery-thumb-width + 2; // include borders
$gallery-item-height:   174px;
$gallery-title-height:  40px;

$gallery-folder-height:	  54px;
$gallery-folder-title-height: $gallery-folder-height - 2;


// Transition speeds

$transition-speed-slow:   1s;
$transition-speed-mid:  .5s;
$transition-speed-fast:   .3s;
