// Variables
@import "variables";

// Thirdparty
@import "chosen";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Base
@import "typography";

// Legacy
@import "legacy/sprity";
@import "legacy/sprites";
@import "legacy/mixins";
@import "legacy/themes/default";
@import "legacy/fonts";
@import "legacy/typography";
@import "legacy/uitheme";
@import "legacy/forms";
@import "legacy/style";
@import "legacy/tree";
@import "legacy/menu";
@import "legacy/preview";
@import "legacy/actionTabs";
@import "legacy/ModelAdmin";
@import "legacy/SecurityAdmin";
@import "legacy/CMSSecurity";
@import "legacy/retina";

// Components
@import "../components/accordion/styles";
@import "../components/breadcrumb/styles";
@import "../components/form-action/styles";
@import "../components/grid-field/styles";
@import "../components/hidden-field/styles";
@import "../components/preview/styles";

// Layout and sections
@import "layout";
@import "../sections/campaign-admin/styles";
