// TODO Separate out bootstrap btn reset styles to a separate style sheet or divide within this sheet
// TODO Rename component to something like Btn or Button?

// Button wrapper
.btn-toolbar {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;

  fieldset + & {
    margin-top: 0;
  }
}

// General buttons
.btn {
  margin-right: $spacer-x * .5; // 8px
  position: relative;
  box-shadow: none;
}

// Button icons
.btn[class*="font-icon-"]::before {
  position: relative;
  margin-right: 6px;
  line-height: $line-height-base;
  font-size: $font-size-lg;
  float: left;
}

.btn--icon-danger:hover::before {
  color: $brand-danger;
}

// Gives button a larger icon
.btn--icon-sm[class*="font-icon-"]::before {
  font-size: 14px;
  position: relative;
}

.btn--icon-md[class*="font-icon-"]::before {
  font-size: 17px;
  position: relative;
}

.btn--icon-large[class*="font-icon-"]::before {
  font-size: 20px;
  top: -1px;
  position: relative;
}

.btn--icon-xl[class*="font-icon-"]::before {
  font-size: 22px;
  top: -1px;
  position: relative;
}


// For buttons with icon and no text, removes space after icon
// TODO replace all .no-text classes for .btn--no-text
.btn--no-text[class*="font-icon-"]::before,
.no-text[class*="font-icon-"]::before {
  margin-right: 0;
  text-indent: 0;
}

// Used buttons with text and icons, but you wan to hide the text only. eg. gridfield pagination
// Could change to BS .text-hide { @include text-hide(); }, although slightly different
.btn--hide-text {
  text-indent: -90000px;
  overflow: hidden;
  min-width: calc(#{$btn-padding-x} * 2 + #{$font-size-lg}); // Fix Safari, enough to show icon and include padding

  &.btn-sm {
    min-width: calc(#{$btn-padding-x-sm} * 2 + #{$font-size-lg}); // Fix Safari, enough to show icon and include padding
  }

  &[class*=font-icon-]::before {
    text-indent: 0;
    margin-right: 0;
  }
}


// loading icon
.btn__loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2px;

  .btn__circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $gray;
    display: inline-block;
    margin: 0 2px;
    animation: loading-icon 1.2s infinite ease-in-out both;
    white-space: nowrap;
  }

  .btn__circle--1 {
    animation-delay: -.32s;
  }

  .btn__circle--2 {
    animation-delay: -.16s;
  }
}

.btn--loading {
  & > span,
  &::before {
    visibility: hidden;
  }
}

@keyframes loading-icon {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}


// Specific button variations
.btn-primary {
  border-bottom-color: $btn-primary-shadow;

  .btn__circle {
    background: $white;
  }

  &:focus {
    outline-color: $brand-primary;
  }
}

.btn-primary-outline {
  border-color: lighten($btn-primary-border, 10%);

  &:hover,
  &:active,
  &:focus {
    color: darken($btn-primary-bg, 10%);
    background-image: none;
    background-color: lighten($btn-primary-bg, 50%);
    border-color: $btn-primary-border;
  }

  .btn__circle {
    background: $btn-primary-bg;
  }
}


.btn-secondary {
  border-color: transparent;
  background-color: transparent;

  &:hover {
    background-color: $btn-secondary-bg;
    border-color: transparent;
  }

  &:focus,
  &:active,
  &.active {
    @include box-shadow(inset 0 0 2px rgba(0, 0, 0, .125));
    background-color: $btn-secondary-bg;
    border-color: $btn-secondary-border;

    &:hover,
    &:focus,
    &.focus {
      background-color: $btn-secondary-bg;
      border-color: $btn-secondary-border;
    }
  }
}

.btn-secondary-outline {
  color: $btn-secondary-color;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active:hover {
    background-color: $gray-lighter;
    color: $btn-secondary-color;
  }

  .btn__circle {
    background: $btn-secondary-color;
  }
}

.btn-danger {
  .btn__circle {
    background: $white;
  }
}

.btn-danger-outline {
  .btn__circle {
    background: $brand-danger;
  }
}

.btn-link {
  .btn__circle {
    background: $link-color;
  }
}

// For secondary type actions without border, TODO change word "outline" to border
.btn-hide-outline {
  border-color: transparent;
}


// Grouped buttons
.btn-group {
  margin-right: $spacer-x * .75; // 12px

  .btn {
    margin-right: 0;
  }

  .btn-primary {
    border-left: 1px solid $btn-primary-shadow;

    &:first-child {
      border-left: 0;
    }
  }
}

// Remove focus from these actions
// For things like popovers which have other indications they are focused
.btn--no-focus:focus {
  outline: none;
}


// Close buttons
// Bootstrap close button customizations
.close {
  font-size: ($font-size-base * 1.8);
  opacity: .3;
  line-height: 20px;
  display: block;
}

button.close {
  padding: $btn-padding-y $btn-padding-x;
}

// Apply to things like panel close btn
.btn--close-panel {
  float: right;
  right: 0;
  margin-right: 5px;
  margin-top: -2px;
  position: absolute;

  // Temp override JQueryUI color
  &::before {
    color: $body-color-light;
  }
}

// Main Save & Publish actions for edit page
.btn-secondary-outline.font-icon-check-mark {
  color: green;
}
