/**
 * This file contains the default theme definitions for the admin interface.
 * Please put mostly SCSS variable definitions in here,
 * and leave the actual styling to _style.scss and auxilliary files.
 */

/** -----------------------------------------------
 * Colours
 * ------------------------------------------------ */
$color-base: #b0bec7;

$color-widget-bg: lighten($color-base, 20%);

$color-dark-bg: #003050;
$color-dark-separator: #19435c;
$color-medium-separator: #808080;

$color-tab: #d9d9d9;

$color-shadow-light: rgba(201, 205, 206, 0.8);
$color-shadow-dark: rgba(107, 120, 123, 0.5);

$color-highlight: #FFFF66;

$color-menu-button: #338DC1;
$color-menu-background: #c6d7df;
$color-menu-border: #8c99a1;

$color-text: #444;
$color-text-light: white;
$color-text-light-link: white;
$color-text-dark: #1f1f1f;
$color-text-dark-link: #3EBAE0;
$color-text-blue-link:#1556B2;

$color-button-generic-dark: #c3c3c3;
$color-button-generic-light:#f5f5f5;
$color-button-generic-border: #ABABAB;
$color-button-constructive-dark: #128945;
$color-button-constructive-light:#84BE3F;
$color-button-constructive-border: #118021;
$color-button-destructive: #f00;

$color-warning: #FF9300;
$color-error: #FF9300;
$color-notice: #FF9300;

$color-cms-batchactions-menu-background: #f5f5f5;
$color-cms-batchactions-menu-selected-background: #efe999;


/** -----------------------------------------------
 * Typography
 * ------------------------------------------------ */
$font-family: Arial, sans-serif;
$font-base-size: 13px;
$font-base-lineheight: 16px;

/** -----------------------------------------------
 * Application Logo (CMS Logo)
 * ------------------------------------------------ */
$application-logo-small: image-url("logo_small.png");
$application-logo-small-ysize: 25px;
$application-logo-small-xsize: 25px;