---
Name: rootroutes
Before: '*'
---
SilverStripe\Control\Director:
  rules:
    '': SilverStripe\Control\Controller
---
Name: coreroutes
Before: '*'
After:
  - '#rootroutes'
  - '#modelascontrollerroutes'
---
SilverStripe\Control\Director:
  rules:
    'Security//$Action/$ID/$OtherID': SilverStripe\Security\Security
    'CMSSecurity//$Action/$ID/$OtherID': SilverStripe\Security\CMSSecurity
    'dev': SilverStripe\Dev\DevelopmentAdmin
    'interactive': SilverStripe\Dev\SapphireREPL
    'InstallerTest//$Action/$ID/$OtherID': SilverStripe\Dev\InstallerTest
    'SapphireInfo//$Action/$ID/$OtherID': SilverStripe\Dev\SapphireInfo
    'SapphireREPL//$Action/$ID/$OtherID': SilverStripe\Dev\SapphireREPL
---
Name: adminroutes
Before: '*'
After:
  - '#rootroutes'
  - '#coreroutes'
  - '#modelascontrollerroutes'
---
SilverStripe\Control\Director:
  rules:
    'admin': 'SilverStripe\Admin\AdminRootController'
