// Panels, basic holder for CMS content areas
// Use .container-fluid if you want only padding left and right

.panel {
  margin-left: auto;
  margin-right: auto;
}

.panel--padded {
  padding: $panel-padding-y $panel-padding-x;
}

// Scrolling panels
.panel--scrollable {
  overflow-y: auto;
  height: 100%;
}

// Panel height adjustments for scrolling
.panel--single-toolbar {
  height: calc(100% - #{$toolbar-total-height});
}

.panel--double-toolbar {
  height: calc(100% - #{$toolbar-total-height * 2});
}

.panel--triple-toolbar {
  height: calc(100% - #{$toolbar-total-height * 3});
}
