// Required for preview position
.campaign-admin__campaign {
  position: relative;
  height: 100%;
}

@include media-breakpoint-down(md) {
  .campaign-admin__campaign--no-selected-item {
    .preview {
      display: none;
    }
    .list-group-item.active {
      background-color: inherit;
      color: inherit;
    }
  }
}
.campaign-admin__campaign-items {
  width: 100%;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    width: $cms-panel-sm;
  }
}


// Campaign items which have linked associations
.campaign-admin__item-links--has-links,
.campaign-admin__item-links--is-linked {
  color: $brand-primary;
  float: right;
  position: absolute;
  right: $spacer-y;
  top: 27px;
  font-size: $font-size-sm;

  &::before {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-right: 1px;
  }
}
