// Required for preview position
.campaign-admin__campaign {
  position: relative;
  height: 100%;

  // On smaller screens hide the preview and show list of items with nothing selected
  @include media-breakpoint-down(md) {
    &.campaign-admin__campaign--hide-preview .campaign-admin__campaign-preview {
      display: none;
    }

    .list-group-item.active {
      background-color: $list-group-bg;
      color: $list-group-link-color;
      z-index: 0;

      &:hover {
        background-color: $list-group-hover-bg;
        color: $list-group-link-color;
        border-color: $list-group-border-color;
      }
    }
  }
}

.campaign-admin__campaign-items {
  width: 100%;
  z-index: 1;
  position: relative;

  @include media-breakpoint-up(lg) {
    width: $cms-panel-sm;
  }
}


// Campaign items which have linked associations
.campaign-admin__item-links--has-links,
.campaign-admin__item-links--is-linked {
  color: $brand-primary;
  float: right;
  position: absolute;
  right: $spacer-y;
  top: 27px;
  font-size: $font-size-sm;

  &::before {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-right: 1px;
  }
}
