  // Note: Intentionally non-bem due to the way composite fields affect nested styles
.field-group-component {
  > .form-group {
    margin-top: 0;
    display: inline-block;
    margin-right: $spacer-x / 2;
    min-width: 166px;
    vertical-align: bottom; // Align fields with no labels

    .form__field-label {
      font-size: $font-size-xs;
      color: $text-muted;
    }
  }
}

.fieldgroup--fill-width > .form__field-holder > .fieldgroup {
  display: flex;
  width: 100%;
  flex-direction: row;

  > .field:last-child {
    margin-right: 0;
  }
}

.fieldgroup--fill-height > .form__field-holder > .fieldgroup {
  display: flex;
  height: 100%;
  min-height: 0; // See https://www.fxsitecompat.com/en-GB/docs/2014/initial-value-of-min-width-height-on-flex-items-has-been-reverted-to-auto/
  flex-direction: column;

  > .field:last-child {
    margin-bottom: 0;
  }
}
