* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

p, ul, td, th {
	font-size: 12px;
}

h1, h2 {
	line-height: 2;
	color: #333;
}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}

a {
	font-size: inherit;
	color: #0074C6;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	background: #ccc;
}

a img {
	border-style: none;
}
