.preview {
  position: relative;

  // Overlay preview at smaller sizes
  @include media-breakpoint-down(md) {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 100%;
  }
}

.preview__iframe {
  height: calc(100% - #{$toolbar-total-height});
  width: 100%;
  border: 0;
  display: block;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.preview__file-container {
  height: calc(100% - #{$toolbar-total-height});
  text-align: center;
  position: relative;
}

.preview__file { // TODO files smaller than the given space need to be detected via js to give class --fits-space

}

.preview__file--fits-space {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview__overlay {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - #{$toolbar-total-height});
  background-color: $white;
}

.preview__overlay-text {
  font-size: $font-size-lg;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
