/** This file contains the default theme definitions for the admin interface. Please put mostly SCSS variable definitions in here, and leave the actual styling to _style.scss and auxilliary files. */
/** ----------------------------------------------- Colours ------------------------------------------------ */
/** ----------------------------------------------- Textures ----------------------------------------------- */
/** ----------------------------------------------- Typography.  ------------------------------------------------ */
/** ----------------------------------------------- Grid Units (px)  We have a vertical rhythm that the grid is based off both x (=horizontal) and y (=vertical). All internal padding and margins are scaled to this and accounting for paragraphs ------------------------------------------------ */
/** ----------------------------------------------- Application Logo (CMS Logo) Must be 24px x 24px ------------------------------------------------ */
.cms .ss-ui-button { background-color: #e6e6e6; }
.cms .ss-ui-button.ui-state-hover { background-color: #f3f3f3; }
.cms .ss-ui-button.ss-ui-action-constructive { background-color: #1f9433; }
.cms .ss-ui-button.ss-ui-action-constructive.ui-state-hover { background-color: #23a93a; }
.cms .ss-ui-button.ss-gridfield-button-filter { background: #55a4d2 url(../../images/icons/filter-icons.png) no-repeat -14px 4px; }

.cms-content-toolbar { border-bottom: 1px solid #c9cdce; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-image: none; }

.ss-gridfield-button-filter.ss-ui-button { background: #e6e6e6 url(../images/filter-icons.png) no-repeat -40px 6px; filter: none; }
.ss-gridfield-button-filter.ss-ui-button.hover-alike:active { background-color: #2e7ead; background-position: -15px 7px; filter: none; }
.ss-gridfield-button-filter.ss-ui-button.hover-alike { background-color: #338DC1; background-position: -16px 6px; filter: none; }

.ss-gridfield-button-reset.ss-ui-button { background: #e6e6e6 url(../images/filter-icons.png) no-repeat 8px 5px; filter: none; }
.ss-gridfield-button-reset.ss-ui-button.filtered:hover { background: red url(../images/filter-icons.png) no-repeat 8px -17px; filter: none; }
.ss-gridfield-button-reset.ss-ui-button.filtered:active { background: #e60000 url(../images/filter-icons.png) no-repeat 9px -16px; filter: none; }

.cms table.ss-gridfield-table tr td { border-right: 1px solid #9a9a9a; }
.cms table.ss-gridfield-table tr th { border-right: 1px solid #9a9a9a; }
.cms table.ss-gridfield-table tr th.main { border-top: 1px solid #9a9a9a; border-bottom: none; }
.cms table.ss-gridfield-table tr th.extra { border-top: 1px solid #9a9a9a; padding-right: 12px; }
.cms table.ss-gridfield-table td:first-child, .cms table.ss-gridfield-table th:first-child { border-left: 1px solid #9a9a9a; }

.cms .ss-gridfield table.ss-gridfield-table tbody td button { border: 0; background: none; }

.cms .cms-content .cms-content-fields .aligned_right_label { margin-left: 0; }

.cms-menu-list li a .icon { filter: none; }

.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content #Form_ImportForm div.file { margin: 0px; }
.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content #Form_ImportForm div.file input.file { margin-left: -132px; }
.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content #Form_ImportForm div.checkbox { padding: 0px; }

.filter-buttons button.ss-gridfield-button-filter { background-position: -18px 4px !important; }

html { overflow: hidden; }

.field input.text, .field textarea, .field .TreeDropdownField { padding-left: 0; padding-right: 0; }

.ss-uploadfield-item-name { display: block; }

.ss-uploadfield-edit-iframe .field.treedropdown { height: 150px !important; }
.ss-uploadfield-edit-iframe .field .TreeDropdownField ul { min-height: 100px; height: auto; max-height: 150px; }

.ss-ui-button.cms-page-add-button { float: left; }

.cms-tree-view-modes div { float: left; }
.cms-tree-view-modes span { float: left; padding-top: 5px; }

.cms-panel-content .cms-tree li { width: 200px; overflow: hidden; float: left; display: inline; }

.cms-content-toolbar { padding-bottom: 5px; }

.cms-menu-list li { list-style-type: none; width: 100%; float: left; margin: 0px; padding: 0px; }

.jstree li a .ui-icon { text-indent: 0px !important; }

.cms table.ss-gridfield-table tbody td { width: auto; }
.cms table.ss-gridfield-table tr th.extra span input { height: 23px; }

.ss-gridfield-button-filter.ss-ui-button { margin: -1px -5px; }

.ss-gridfield-button-reset.ss-ui-button { margin: -1px -5px; }

.cms .ss-gridfield table.ss-gridfield-table tbody td button { width: 40px; }
.cms .ss-gridfield table.ss-gridfield-table tbody td button.gridfield-button-delete { display: block; float: left; }
.cms .ss-gridfield table.ss-gridfield-table tbody td button.gridfield-button-unlink { display: block; float: left; }
.cms .ss-gridfield table.ss-gridfield-table tbody td a.edit-link { display: block; float: left; }

.cms .cms-content .cms-content-fields .field.dropdown .middleColumn { max-width: 512px; }

.pagination-page-number { position: relative; bottom: 10px; right: 10px; }
.pagination-page-number input { width: 45px; padding: 0px; position: relative; bottom: 2px; }

input.ss-gridfield-sort { padding-top: 0 !important; padding-bottom: 0 !important; }

table.ss-gridfield-table tr.title th h2 { float: left; }

table.ss-gridfield-table tr.ss-gridfield-item.odd { background: white; }
table.ss-gridfield-table tr.ss-gridfield-item.even { background: #F0F4F7; }

.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content .cms-search-form { overflow: hidden; }
.ModelAdmin .cms-content-fields .cms-content-tools .cms-panel-content .cms-search-form input { width: 160px; }

.cms .cms-content-tools { border-right: 1px solid #CCC; }

.cms .ss-gridfield table.ss-gridfield-table tbody td.col-listChildrenLink { width: 16px; }
.cms .ss-gridfield table.ss-gridfield-table tbody td.col-listChildrenLink .list-children-link { background: transparent url(../images/sitetree_ss_default_icons.png) no-repeat 4px -4px; display: block; }

.cms-content-header h2 { float: left; }
.cms-content-header h2 .section-icon { display: none; }
.cms-content-header .cms-content-header-tabs { position: absolute; right: 0; }

.ss-ui-button.ss-gridfield-button-filter { border: none !important; }
