@import url("typography.css");

html,body {
	padding: 0;
	margin: 0;
	border-style: none;
	height: 100%;
	overflow: hidden;
}

form {
	margin: 0; padding: 0;
}

h2 {
	margin: 0;
	font-size: 1.4em;
}

/**
 * Selection Groups
 */
.SelectionGroup {
	padding: 0;
	margin: 10px 0 0 0;
}
.SelectionGroup li {
	list-style-type: none;
	margin: 0 0 4px;
}
.SelectionGroup li label {
	font-size: 11px;
}
.SelectionGroup li input.selector {
	width: 20px;
	margin-top: 0;
}


.SelectionGroup li div.field {
	display: none;
}
.SelectionGroup li.selected div.field {
	display: block;
	margin-left: 30px;
	margin-bottom: 1em;
	margin-top: 4px;
}
.mainblock .SelectionGroup li.selected div.field {
	margin-left: 27px;
	margin-bottom: 4px;
}

.SelectionGroup li.selected label.selector {
	font-weight: bold;
}

.Actions {
	text-align: right;
	margin: 0;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.mainblock {
	float: left; 
	border: 1px #CCC solid; 
	padding: 5px; 
	margin-right: 5px;
	height: 140px;
	position: relative;
}

.mainblock form fieldset {
	border: none;
}

.mainblock form div.Actions input {
	font-size: 11px;
}