* {
	font-size:12px;
}

body {
	margin: 0;
	padding: 0;
}

form.import-form {
	margin: 0;
}

	form.import-form #CsvFile .middleColumn {
		background: none !important;
	}

	form.import-form .advanced h4 {
		margin-bottom: .5em;
	}
	
	form.import-form .Actions {
		text-align: left;
		border: 0;
	}